/*Estilo de Seccion de Bienvenido*/

.bienvenidos {
  color: $color3;
  @include parallax($imagen-parallaxscene-1200,80vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.parallax-320{
  @include parallax($imagen-parallaxscene-320,60vh);
}

.parallax-480{
  @include parallax($imagen-parallaxscene-480,60vh);
}

.parallax-800{
  @include parallax($imagen-parallaxscene-800,60vh);
}

.parallax-1024{
  @include parallax($imagen-parallaxscene-1024,80vh);
}

.parallax-1200 {
  @include parallax($imagen-parallaxscene-1200,80vh);
}

.bienvenidos .row .col-lg-6{
  background-color:$color-12;
}
.bienvenidos .row h1{
  padding: 0.3em;
}
.bienvenidos .row h3{
  margin: 0;
  padding: 0.2em;
}
.bienvenidos .row .col-lg-5{
  background-color:$color-1;
}

@import 'encabezado';