
/*estilo de paginado del blog*/
.blog-paginado {
	border-radius: 1em;
	padding: 1%;
	
}

a{
	color:$color1;
}

.blog-paginado a:hover{
	text-decoration: none;
	color: $color1;
}


/* estilos primera imagen del blog */

#tarjeta-1 {
	border-radius: 2em;
	box-shadow: 7px 7px 2px rgb(119, 117, 117);
}



/*------------------------
Estilos Personalizados para
imagen principal del blog
--------------------------*/

.card .view{
border-radius:1rem !important; 
}

.card .card-body{
	border-radius: 1rem !important;
}


/* Estilo del texto*/
.texto p {
	text-align: justify;
}

.texto a span{
	font-size: 1rem;
}


/*Estilo del Paginador del Blog*/
.paginador nav ul li a {
	font-weight: bold;
}
.pagination .page-item .page-link{
	font-size: 1rem !important;
	color:$color1;
}
.pagination .page-item.active .page-link {
	background: $color1 !important;
	color: $color3;
}

.pagination .page-item.disabled .page-link{
	color: $sombra-oscuro;
}


/*-------------------------------
SECCION SERVICIOS
--------------------------------*/

.servicios {
    background-size: cover;
    background-attachment: fixed !important;
}
.servicios article {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}
.servicios img {
	flex: 0 0 86px;
	height: 78px;
    overflow: hidden;
	margin-right: 1rem;
	margin-left: -23px;
}
.servicios h3 {
    margin: 0;
    font-size: 1.1rem;
    flex: 1 1 auto;
}
.servicios h3 a {
	color: $color5;
	font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}
.servicios h3 a::after {
    content: "\f054";
    font-family: FontAwesome;
    font-size: 2rem;
    margin-left: 1rem;
    opacity: .5;
    position: relative;
    left: 0;
	transition: all .5s ease;
	color:$color1;
}
.servicios h3 a:hover::after {
    left: -.5rem;
    opacity: 1;
    color: $color1;
}

.servicios h3 spam {
	font-size: 15px;
}

@include telefono{
	.postshow{
		padding: 1.5rem;
	}
	.blog-general{
		padding: 1rem
	}
}
@include tablet{
	.postshow{
		padding: 3rem;
	}
	.blog-general{
		padding: 2rem
	}
}

@include desktop{
	.postshow{
		padding: 6rem;
	}
	.blog-general{
		padding: 3rem
	}
}



.tags a {
    display: inline-block;
    padding: 0 8px;
    background-color: #efefef;
    color: $color-7;
    border-radius: 2px;
    text-decoration: none;
    text-transform: capitalize;
    margin: 0 0 3px;
    transition: background-color .1s linear;
}

.tags a:hover {
    background-color: $color-7;
    color: #f9f9f9;
}



