/*------------------------
Estilos Personalizados para
los botones del blog
--------------------------*/

.btn {
    padding: 5px 13px;
    background-color: $color1 !important;
    border-radius: 2em;
    box-shadow: 5px 5px $sombra-oscuro;
    font-size: 1rem;
    color: $color3;
    text-transform: capitalize;
}

.btn-secondary:hover {
    color: $color3  !important;
    font-weight: bold;
}

.btn-secondary.active,.btn-secondary:active {
    color: $color3 !important;
}

.btn-secondary:active:hover{
    color: $color3  !important;
}

.btn-secondary.focus, .btn-secondary:focus{
    color: $color3  !important;
} 

.btn-secondary:not([disabled]):not(.disabled):active{
    background-color:$sombra-oscuro !important;
}