.botones-principales {
    margin-top: 1rem;
}

.botones-principales .btn.btn-secundary {
    vertical-align: middle;
    color: #fff;
    font-size: .9em;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem;
    width: 100%;
    height: auto;
    line-height: 1rem;
    margin: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: $color-12;
    font-weight: bold;
    border-bottom: 5px solid $color-1;
}

.botones-principales .row {
    justify-content: center;
}


.botones-principales {

    .btn.btn-secundary:hover {
        color: $color-7;
        background-color: $color3;
        border: 1px solid $color-7;
    }
}