@charset "UTF-8";
/*Botones sociales en el pie de articulos*/
.contenedor-botones-sociales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  bottom: 0;
  z-index: 99;
  left: 0;
  right: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.contenedor-botones-sociales button {
  background-color: #aaa;
  border: none;
  color: white;
  font-weight: 300;
  outline: none;
  padding: .5rem 1em;
  position: relative;
  overflow: hidden;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  margin: 0;
  font-size: 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

/*icono a todos los botones*/
.contenedor-botones-sociales button:before {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 1.3rem;
  margin: .3rem;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px; }

.contenedor-botones-sociales button:hover:before {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d; }

/*Boton Facebook*/
.contenedor-botones-sociales button[data-sharer="facebook"] {
  background-color: #3b5998;
  -webkit-box-shadow: 0 5px 0 #224389, 1px 4px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 0 #224389, 1px 4px 2px rgba(0, 0, 0, 0.2); }

.contenedor-botones-sociales button[data-sharer="facebook"]:active {
  -webkit-box-shadow: 0 2px 0 #224389, 1px 4px 2px rgba(2, 2, 2, 0.32);
          box-shadow: 0 2px 0 #224389, 1px 4px 2px rgba(2, 2, 2, 0.32);
  -webkit-transform: translate(0, 3px);
          transform: translate(0, 3px); }

.contenedor-botones-sociales button[data-sharer="facebook"]:before {
  content: "\f09a"; }

/*Boton Twitter*/
.contenedor-botones-sociales button[data-sharer="twitter"] {
  background-color: #00aced;
  -webkit-box-shadow: 0 5px 0 #0084b4, 1px 4px 2px rgba(2, 2, 2, 0.32);
          box-shadow: 0 5px 0 #0084b4, 1px 4px 2px rgba(2, 2, 2, 0.32); }

.contenedor-botones-sociales button[data-sharer="twitter"]:active {
  -webkit-box-shadow: 0 2px 0 #0084b4, 1px 4px 2px rgba(2, 2, 2, 0.32);
          box-shadow: 0 2px 0 #0084b4, 1px 4px 2px rgba(2, 2, 2, 0.32);
  -webkit-transform: translate(0, 3px);
          transform: translate(0, 3px); }

.contenedor-botones-sociales button[data-sharer="twitter"]:before {
  content: "\f099"; }

/*Boton Google*/
.contenedor-botones-sociales button[data-sharer="googleplus"] {
  background-color: #DD4C39;
  -webkit-box-shadow: 0 5px 0 #BB2D1A, 1px 4px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 0 #BB2D1A, 1px 4px 2px rgba(0, 0, 0, 0.2); }

.contenedor-botones-sociales button[data-sharer="googleplus"]:active {
  -webkit-box-shadow: 0 2px 0 #BB2D1A, 1px 4px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 0 #BB2D1A, 1px 4px 2px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(0, 3px);
          transform: translate(0, 3px); }

.contenedor-botones-sociales button[data-sharer="googleplus"]:before {
  content: "\f2b3"; }

/*Bóton Pinterest*/
.contenedor-botones-sociales button[data-sharer="pinterest"] {
  background-color: #CB2029;
  -webkit-box-shadow: 0 5px 0 #A30E15, 1px 4px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 0 #A30E15, 1px 4px 2px rgba(0, 0, 0, 0.2); }

.contenedor-botones-sociales button[data-sharer="pinterest"]:active {
  -webkit-box-shadow: 0 2px 0 #A30E15, 1px 4px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 0 #A30E15, 1px 4px 2px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(0, 3px);
          transform: translate(0, 3px); }

.contenedor-botones-sociales button[data-sharer="pinterest"]:before {
  content: "\f0d2"; }

/*Botón Linkedin*/
.contenedor-botones-sociales button[data-sharer="linkedin"] {
  background-color: #007AB5;
  -webkit-box-shadow: 0 5px 0 #005E8C, 1px 4px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 0 #005E8C, 1px 4px 2px rgba(0, 0, 0, 0.2); }

.contenedor-botones-sociales button[data-sharer="linkedin"]:active {
  -webkit-box-shadow: 0 2px 0 #005E8C, 1px 4px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 0 #005E8C, 1px 4px 2px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(0, 3px);
          transform: translate(0, 3px); }

.contenedor-botones-sociales button[data-sharer="linkedin"]:before {
  content: "\f0e1"; }

/*Botón whatsapp*/
.contenedor-botones-sociales button[data-sharer="whatsapp"] {
  background-color: #4DC247;
  -webkit-box-shadow: 0 5px 0 #30AF29, 1px 4px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 0 #30AF29, 1px 4px 2px rgba(0, 0, 0, 0.2); }

.contenedor-botones-sociales button[data-sharer="whatsapp"]:active {
  -webkit-box-shadow: 0 2px 0 #30AF29, 1px 4px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 0 #30AF29, 1px 4px 2px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(0, 3px);
          transform: translate(0, 3px); }

.contenedor-botones-sociales button[data-sharer="whatsapp"]:before {
  content: "\f232"; }

/*# sourceMappingURL=botones-sociales.css.map */