.circle-text{
    width: 30%;
}

.circle-text:after{
    content: "";
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background: rgba(5, 87, 131, 0.6);
    opacity: 0.6;
    border-radius: 50%;
}

.circle-text h1{
    float: right;
    width: 100%;
    padding-top: 40%;
    line-height: 1em;
    margin-top: -0.5em;
    text-align: center;
    color:white; 
}

/*------------------------------------------------
Diseño del Circulo en la Parte Movil de 320 y 480
---------------------------------------------------*/
#forma4 {
    position: absolute;
    -webkit-shape-inside: rectangle(0,0,100%,100%,100%,100%);
    background: rgba(5,86,131,0.6);
    font-family: $fuente1;
  }
  
  #forma4 h1{
   font-size: 2rem;
    text-align: center;
    color: $color3;
  }
  
  #forma4 spam{
    font-size: 3.5rem;
  }