.conoceme {
    background: $imagen-conoceme-480 no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: $color1;
    height: 100vh;
    width: 100%;
}
#gallery {
	width: 900px;
	height: 600px;
	position: relative;
	overflow:hidden;
}

.conoceme p {
    margin-top: 2rem;
}

.conoceme img {
    width: 100%;
    height: auto;
}

.conoceme h1 {
    font-weight: bold;
    font-size: 1.2rem;
}

.conoceme .pr {
    color: $color5;
    text-align: justify;
}