/*Estilo de Temas de Interes*/

.temasinteres {
  font-family: $fuente1;
  margin-top: 3em;
  text-align: center;
}

.temasinteres .container-fluid{
  padding-left: 0;
  padding-right: 0;

}

.temasinteres .container-fluid .descubre{
  margin-top:1rem;
}

.temasinteres .container-fluid .boton-saber{
  border-radius: 50%;
  position: relative;
  right: 6.9rem;
  top:20rem;
  font-size:0.9em;
  font-weight: bold;
  background-color: $color-12 !important;
  width: 100px;
  height: 100px;
  padding-top: 3rem;
  box-shadow: none;
}

.temasinteres .container-fluid h3.titulo{
  color :$color-12;
}

.temasinteres .container-fluid h3 spam{
  
  font-weight: bold;

}


.temasinteres .container-fluid img {
  z-index: 1030;
}

.temasinteres .container-fluid .imagen-temasinteres{
  margin-left: 0;
  margin-right:0; 
}

.temasinteres .container-fluid .descubre{
  margin-left: 0;
  margin-right:0; 
}

/*Fin de Estilo de temas de Interes*/