.cursos {

    h4 {
        font-size: 2.5rem;
        color: $color-12;
        text-align: center;
    }

    .contenedor {
        position: relative;
        display: inline-block;
        text-align: right;
    }

    .centrado {
        position: absolute;
        @include telefono{
            top:40%;
            left:67%;
            font-size: 1.5rem;
        }
        @include tablet{
            top: 29%;
            left: 78%;
            font-size: 2rem;
        }
        transform: translate(-50%, -50%);
        color: $color5;
        font-weight: bold;

    }

    .centrado2 {
        position: relative;
        display: inline-block;
        text-align: left;
    }

    .contenedor2 {
        .centrado2 {
            position: absolute;
            @include telefono{
                top:40%;
                left: 32%;
                font-size: 1.5rem;
            }
            @include tablet{
                top: 29%;
                left: 23%;
                font-size: 2rem;
            }
            transform: translate(-50%, -50%);
            color: $color3;
            font-weight: bold;

        }
    }
    
}
