/*Estilo Boton ir Arriba*/

.ir-arriba {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-size: 3rem;
    color: $color1;
    text-decoration: none;
    z-index: 99999;
    line-height: 0;
    display: none;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  
  .ir-arriba:hover,
  .ir-arriba:focus {
    outline: 0;
    text-decoration: none;
    color: $color1;
  }
  
  /*Fin de Boton Ir Arriba*/