/*Estilo de la fecha bajar*/

.flecha-bajar{
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1060;
}
.flecha-bajar a {
    display: inline-block;
    color: $color-nav-letras;
    font-size: 4rem;
    -webkit-animation: flecha-animada 2s ease-in-out infinite; //llamada a la animacion (nombre del animacion,cuanto dura,la aceleracion,continua infinite)
    animation: flecha-animada 2s ease-in-out infinite;
  }
  
  /*Animacion Personalizada*/
  
  @-webkit-keyframes flecha-animada {
    from {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    50% {
      -webkit-transform: translateY(6px);
      transform: translateY(6px);
    }
    to {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
  @keyframes flecha-animada {
    from {
      -webkit-transform: translateY(0); //ubicacion vertical;
      transform: translateY(0);
    }
    50% {
      // a la mitad de la animacion 
      -webkit-transform: translateY(6px); // que baje unos 6px
      transform: translateY(6px);
    }
    to {
      // parte final de la animacion
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
  /*Fin del Estilo de la flecha Bajar*/