/*Estilo del Footer*/

footer {
  background-color: $color3;
  color: black;
  padding-top: 1rem;
  margin-bottom: 1rem;
}

footer .container-fluid h6 {
  font-weight: bold;
  margin-bottom: 1.5rem
}

footer iframe {
  -webkit-box-shadow: 3px 4px 18px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 4px 18px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 4px 18px -1px rgba(0, 0, 0, 0.75);
  margin-top: 1rem;
}

footer .logo img {
  width: 100%;
  height: auto;
}

footer .logofuc img {
  @include dimension($anchoUF992,$altoUF992);
}

footer .logoffa img {
  @include dimension($anchoFF992,$altoFF992);
}

footer .container-fluid .icon {
  float: left;
  font-size: 1.2rem;
}

footer .container-fluid .icono {
  font-size: 1.3rem;
  margin-left: 1rem;
}

footer .container-fluid p {
  margin-left: 36px;
}

footer .container-fluid .copy {
  margin: 0;
  font-size: .7rem;
}

footer .container-fluid p i {
  font-size: 28px;
  margin-right: 28px;
  color: $color1;
}

footer ul{
  margin-left: -2.5rem;
}

footer ul li{
  list-style: none;
}
footer ul li a{
  font-size: 1rem;
  color:$color-12;
}

footer ul li a:hover{
  color:$color-1;
}

footer a{
  color:$color-12;
}
footer a:hover{
  color:$color-1;
}

footer iframe{
  position: relative;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}




@import 'flechasubir';