/*Estilo para el Parallax */

html,
body,
header,
.jarallax {
  height: 100%;
  font-size: $tamfuente;
  font-family: $fuente1;
  line-height:1.45;
  color: $colorfuente;
  
}

html,
body,
header,
.intro-2 {
  height: 5rem;
  background: $color3;
}

.general{
  background: $color3;
  margin-top: 1rem;
  
}
.general .ingeniero .row{
  justify-content: center;
}
.general .ingeniero .row h1{
  color:$color-12;
  font-size: $tamfuentelgh4;
}
.general .ingeniero .row h4{
  color:$color-12;
  font-size: 2rem;
  font-weight: bold;
  font-size: $tamfuentelgh4;
}

.general .ingeniero .row span{
  font-weight: bold;
}

.general .doctorado{
  font-family: $fuente1;
}

.general .doctorado h2{
  color:$color-12;

}

.general .doctorado h3{
  color:$color-12;
}





