.header{
    background-color: grey;
    font-size: 1em;
}

.header .row{
    justify-content: flex-end;
    align-items: center;
}

.header .row p{
   margin: 0.7em;
   color: $color3;
}

.header .buscar-contenedor a{
    color:$color3;
    margin: 0.5em;
}



.header .buscar-contenedor a:hover{
    color:$color1;
}

.header input[type="text"]{
    padding: 0.2em;
    border-radius: 0.5em;
    width: 250px;
}

.header .nav-flex-icons{
    list-style: none;
    display: flex;
}

.header .nav-link{
    margin: 0.5em;
    padding: 0.2em;
    color:$color3;
}

#buscar-sugerencia{
    margin:0.5em;
}

