.logo-secundario .row {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.logo-secundario img {
  width: 45px;
  overflow: hidden;
  margin: 1em; }

/*# sourceMappingURL=logosecundario.css.map */