/*Estilo del Navbar*/
.encabezado .fondo-menu {
    padding: 1rem 0;
    max-height: 77px;
    margin-top: -8px;
  }
  
  .fondo-movil-menu {
    background: $color4;
    padding: 1rem 0;
  }
  
  /*Estilos para el boton: buscar y menu*/
  
  .boton-buscar,
  .boton-menu {
    border: 0;
    font-size: 1.5rem;
    margin: 0;
    padding: 0 .5rem;
    background: transparent;
    color: $color-nav-letras;
    order: 0;
  }
  
  .boton-buscar:focus,
  .boton-menu:focus {
    outline: 0;
  }
  
  /*Estilo bloque buscar*/
  /*Bloque Buscar hijo flexible que creca factor reduccion 1 y que ocupe el 100%*/
  #bloque-buscar {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
  }
  
  .contenedor-bloque-buscar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; //Padre Contenedor
    height: 3rem;
    margin: 1rem 0;
  }
  
  /*Selector de Atributtos*/
  
  .contenedor-bloque-buscar input[type="text"] {
    border: 1;
    border-radius: 5px 0 0 5px;
    padding: 1rem;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
  
  .contenedor-bloque-buscar input[type="submit"] {
    border: 0;
    border-radius: 0 5px 5px 0;
    background: $color1;
    color: $color3;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    padding: 10.5px 1rem; //padding interno del buton buscar
  }
  
  #menu-principal {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%; // cresca, redusca, ocupe 100%
  }
  
  #menu-principal ul {
    padding: 0;
    list-style: none;
    margin: 1rem 0 0 0;
  }
  
  /*Estilo para el Menu de navegacion movil*/
  
  #menu-principal ul a {
    display: block; //elemento en linea para ocupe todo el ancho del contenedor
    padding: .8rem 0;
    text-align: center;
    color: $color-nav-letras;
    font-weight: bold;
    text-transform: uppercase;
    border-top: 1px solid $color3;
    text-decoration: none;
  }
  
  #menu-principal ul a:hover,
  #menu-principal ul li.active a {
    color: $color-nav-letras; 
  }

   

  /*---------------------------------
SECCION DERECHA HOME
------------------------------------*/

/*Estilo del Contenedor Buscar */

.general .derecha form input {
  border: 0;
  border-bottom: 1px solid $color1;
  padding: 1rem auto;
}

.form-control {
  padding: 0.50rem .5rem;
  font-size: 0.9rem;
  border-radius: 0;
}

@import 'flechabajar';

