/*------------------------------------------------

Estilo del Nav 2
-------------------------------------------------*/

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
/*Logo Postgrado Principal*/
.navbar-brand img {
    @include dimension($anchoP992,$altoP992);
}



.navbars {
    background-color: $color3;
    color: $color-nav-letras;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbars .navbar-toggler{
    order:0;
}

.navbars .navbar-brand{
    order:1;
}

#navbarSupportedContent1{
    order:4;
}

.color {
    background: #F2F2F2;
}

.navbar .mega-dropdown {
    position: static !important;
}

.navbar .dropdown-menu.mega-menu {
    width: 100%;
    border: none;
    border-radius: 0;
}


.navbar .dropdown-menu.mega-menu.v-2 a {
    padding: 8px 6px 0px 0px;
}

.navbar .dropdown-menu.mega-menu.v-2 a.news-title-2 {
    font-weight: 500;
    font-size: $tamfuente;
    line-height: 1.5;
    -webkit-transition: .2s;
    transition: .2s;
    color: #000 !important;
}

.navbar .dropdown-menu.mega-menu.v-2 a.news-title-2:hover {
    color: #08294D !important;
    font-weight: bold;
}

.navbar .dropdown-menu.mega-menu.v-2 .sub-menu ul {
    list-style: none;
}

.navbar .dropdown-menu.mega-menu.v-2 .sub-menu ul.caret-style li {
    -webkit-transition: .3s;
    transition: .3s;
}

/* .navbar .dropdown-menu.mega-menu.v-2 .sub-menu ul.caret-style li:hover {
    background-color: rgb(8, 41, 72);
    -webkit-transition: .3s;
    transition: .3s;
} */

.navbar .dropdown-menu.mega-menu.v-2 .sub-menu ul.caret-style li a:after {
    /* content: '\f002';
    font-family: FontAwesome; */
    position: absolute;
    left: 0.5rem;
    font-size: 12px;
    top: 1rem;
}

.navbar .dropdown-menu.mega-menu.v-2 .sub-menu a.menu-item {
    color: #000 !important;
}

.navbar .dropdown-menu.mega-menu.v-2 .sub-menu a.menu-item:hover {
    color:rgb(8,41,72) !important;
    font-weight: bold;
}

.navbar .dropdown-menu.mega-menu.v-2 .sub-title {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid;
}

.navbar .dropdown-menu.mega-menu.v-2 .font-small {
    font-size: 0.85rem;
}

a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
    color: #08294D;
    text-decoration: none;
    font-weight: bold; 
}

.navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(8,41,72,0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    cursor: pointer;
}

/*------------------------------------------------
Estilo Complemetario para el boton buscar
-------------------------------------------------*/
.boton-buscar,
.boton-menu {
  border: 0;
  font-size: 1.5rem;
  margin: 0;
  padding: 0 .5rem;
  background: transparent;
  color: $color-nav-letras;
  order: 2;
}

#bloque-buscar {
    order:3;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
  }
  
  .contenedor-bloque-buscar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; //Padre Contenedor
    height: 3rem;
    margin: 1rem 0;
  }
  
  /*Selector de Atributtos*/
  
  .contenedor-bloque-buscar input[type="text"] {
    border: 1;
    border-radius: 5px 0 0 5px;
    padding: 1rem;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
  
  .contenedor-bloque-buscar input[type="submit"] {
    border: 0;
    border-radius: 0 5px 5px 0;
    background: $color1;
    color: $color3;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    padding: 10.5px 1rem; //padding interno del buton buscar
  }

  /*-------------------------
  Estilo Adiccional del nav-link 
  hover
  ----------------------------*/
  .nav-link:focus, .nav-link:hover {
    text-decoration: none;
    color:$color-nav-a;
    font-weight: bold;
}

.navbar-nav.ml-auto li a{
    color: $color1;
}

.navbar-nav.ml-auto li a:hover{
    text-decoration: none;
    color:$color-nav-a;
    font-weight: bold;
}

/*Estilo del Nav en Scroll*/

.nav-scroll{
    height: 86px;
}

#navbarSupportedContent1 .navbar-nav.ml-auto{
    margin-right: 2rem;
}

#logofacultad{
    @include dimension($anchoF992,$altoF992);
}
#logouc{
    @include dimension($anchoU992,$altoU992);
}

