.noticias .owl-carousel {
    -webkit-box-shadow: 0px 2px 27px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 27px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 27px -3px rgba(0, 0, 0, 0.75);
    padding: 2em;
}
.noticias .owl-carousel .item {
   border-left: 5px solid $color-12;
   padding-left: 1rem;
}
.noticias .owl-carousel .item a h6{
  color:$color-2;
}
.noticias>h4{
    color: $color-12;
    font-weight: bold;
    font-size: 2rem;
    margin: 1rem 0;
    color: #1D243B;
}


