.center {
  max-width: 400px;
  margin: 0 auto;
  width: 88%; }

.wrapper {
  height: 90vh;
  overflow: hidden;
  display: table;
  width: 100%;
  background-color: #000000;
  margin: auto;
  position: relative;
  z-index: 0; }

.scene {
  min-height: 460px;
  position: relative;
  overflow: hidden; }

.background {
  background: url(../img/BannerPrincipalFondo1200.png) no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.light {
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-animation: swing 7s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: swing 7s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955); }

.shadow1 {
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-animation: shake 7s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: shake 7s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955); }

.flash {
  -webkit-animation: flash 3s both;
  animation: flash 3s both; }

.layer {
  display: block;
  height: 90vh;
  width: 100%;
  padding: 0;
  top: 0; }

.layer1 {
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 85%;
  margin: 0px calc(7.5%);
  bottom: 64px; }

.layer2 {
  display: block;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: -675px auto; }

.layer3 {
  display: block;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: -675px auto; }

.layer1,
.layer2,
.layer3 {
  position: absolute; }

.title {
  width: 100%;
  margin: auto auto; }

.linterna {
  width: 18%;
  margin: 0px auto; }

.luz {
  margin: -40px auto;
  height: 120%;
  width: 100%; }

.sombra {
  width: 100%;
  margin: 455px auto; }

.letras {
  width: 50%;
  margin: 350px auto; }

.sombraLetras {
  width: 50%;
  margin: 460px auto; }

/*-------------------------------------------------
Secuencia de Efectos para darle Movimiento al Parallax
----------------------------------------------------*/
@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotateZ(10deg);
    transform: rotateZ(10deg); }
  100% {
    -webkit-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg); } }
@keyframes swing {
  0% {
    -webkit-transform: rotateZ(10deg);
    transform: rotateZ(10deg); }
  100% {
    -webkit-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg); } }
@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate3d(-60px, 0, 0);
    transform: translate3d(-60px, 0, 0); }
  100% {
    -webkit-transform: translate3d(60px, 0, 0);
    transform: translate3d(60px, 0, 0); } }
@keyframes shake {
  0% {
    -webkit-transform: translate3d(-60px, 0, 0);
    transform: translate3d(-60px, 0, 0); }
  100% {
    -webkit-transform: translate3d(60px, 0, 0);
    transform: translate3d(60px, 0, 0); } }
@-webkit-keyframes flash {
  0% {
    opacity: 0; }
  10% {
    opacity: 0.25; }
  20% {
    opacity: 0; }
  30% {
    opacity: 0.25; }
  60% {
    opacity: 0.5; }
  80% {
    opacity: 0.75; }
  100% {
    opacity: 1; } }
@keyframes flash {
  0% {
    opacity: 0; }
  10% {
    opacity: 0.25; }
  20% {
    opacity: 0; }
  30% {
    opacity: 0.25; }
  60% {
    opacity: 0.5; }
  80% {
    opacity: 0.75; }
  100% {
    opacity: 1; } }

/*# sourceMappingURL=parallaxscene.css.map */