/* Video Overlay */
#overlay {
  height: 100vh;
  left: 0;
  position: relative;
  top: 0;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  width: 100%;
  margin-top: -7%; }

.fade {
  background-color: rgba(0, 0, 0, 0.85) !important; }

/* Hero Video + Fallback */
#hero-vid {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background: url("../img/HomeBannerPrincipal1024.jpg") no-repeat scroll 0 0 #000;
  background-size: cover;
  height: auto;
  min-height: 113%;
  min-width: 100%;
  -webkit-perspective: 1000;
          perspective: 1000;
  position: fixed;
  right: 0;
  width: 1200px;
  z-index: -1; }

#hero-pic {
  display: block;
  height: 100vh;
  width: 100%; }

#state {
  bottom: 0;
  cursor: pointer;
  font-size: 2.25rem;
  left: 0;
  line-height: 1;
  padding: 2rem 2.5rem 1.65rem;
  position: absolute; }

/* Media Queries */
@media only screen and (max-width: 768px) {
  #overlay {
    height: auto; } }
/* Visibility Helpers */
@media only screen and (min-width: 1px) and (max-width: 1024px) {
  .visible-desktop {
    display: none !important; } }

/*# sourceMappingURL=parallaxvideo.css.map */