.postulate-480{
    @include parallax($imagen-postulate-480,24vh);
  }
  
  .postulate-800{
    @include parallax($imagen-postulate-800,24vh);
  }
  
   
  .postulate-1200 {
    @include parallax($imagen-postulate-1200,24vh);
  }

  .postulate .row{
    justify-content: center;
    align-items: center;
  }

  .postulate h1 {
    margin-top: 2rem;
    color: $color3;
    font-family: $fuente1;
    font-style: italic;
    font-size: 3em;
    font-weight: bold;
  }