html {
    @include box-sizing(border-box);
}

*,
*:after,
*:before {
    @include box-sizing(inherit);
}

body {
    font-family: $fuente1;
}

.programa_estudios {
    @include background-imagen($imagen-programa-estudio);
    margin-top: 1rem;
    background-size: cover;
    height: 8rem;
    @include telefono{
        height: 7rem;
    }
    @include tablet{
        height: 9rem;   
    }
    @include desktop{
        height: 15rem;
    }
    @include extra{
        height: 24rem;
    }
    .container{
    display: flex;
    justify-content: flex-start;
        height: 9rem;
    @include tablet{
        height: 10rem;
    }
    @include desktop{
        height: 15rem;
    }
    @include extra{
        height: 20rem;
    }
    }
    h3 {
        align-self: flex-end;
        background-color: $color-12;
        padding: 1rem;
        color: $color3;
        font-weight: 700;
    }
}

.contenido {
    p {
        // text-indent: 1cm;
        text-align: justify;
        font-size: 1rem;
        line-height: 1.5rem;
    }
    h5{
        font-weight: 700;
        margin-bottom: 1rem;
    }
    ul{
        li{
            text-decoration: none;
            list-style: none;
        }
    }
}

.fichas-programas {
    margin: 2rem;

    h4 {
        font-weight: 700;
    }

    img {
        width: 100%;
    }

    .row {
        justify-content: space-between;
        text-align: center;
    }

    a {
        padding: 1rem;
        border: 1px solid $color3;
        color: $color3;
    }

    .doctorado {

        h4 {
            margin-bottom: 1rem;
        }

        a:hover {
            background-color: $color3;
            color: $color1;
        }

        p {
            font-weight: bold;
        }
    }

    .botones {
        display: flex;
        flex-direction: column;
    }

    .maestrias {
        margin-top: 1rem;

        @include tablet {
            margin-top: 0;
        }

        a:hover {
            background-color: $color3;
            color: $color-1;
        }
    }

    .especializaciones {
        margin-top: 1rem;

        @include tablet {
            margin-top: 0;
        }

        a:hover {
            background-color: $color3;
            color: $color-7;
        }
    }
}

.cursos-blog {
    margin: 1rem 0;

    a {
        text-align: center;
        padding: 1rem;
        border: 1px solid $color3;
        color: $color3;
    }
    a:hover {
        background-color: $color3;
        color: $color-9;
    }
    .botones {
        display: flex;
        flex-direction: column;
    }
    h4 {
        text-align: center;
        font-weight: 700;
    }
    h5{
        color:$color-12;
    }

    p {
        text-align: justify;
        font-size: 1rem;
        line-height: 1.5rem;
    }

    img {
        width: 100%;
    }
    .row{
        margin-bottom: 1rem;
    }
}

/*-------------------------------------
Estilos para la pagina formacion.html
---------------------------------------*/
.areas{
    a{
        color:$color-12;
    }
    a:hover{
        h5{
            color:$color-7;
        }
    }
    h4{
        font-weight: 700;
        text-align: center;
        margin-bottom: 2rem;
    }
    h5{
        font-weight: bold;
    }
    p{
        
        text-align:justify;
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

.contenido-general{
    h4{
        text-align: center;
        font-weight: 700;
        margin-bottom: 2rem
    }
    h5{
        font-weight: 700;
        margin-bottom: 1rem;
    }
    p{
       
        text-align: justify;
        font-size: 1rem;
    }
}


/*---------------------------------------------
Estilo para el pensum.html
----------------------------------------------*/

.tabla{
    color:$color-12;
    margin: 0 auto;
    width:100%;
    th{
        font-weight: 700;
    }
    tbody{
        td{
            border: 1px solid $color-12;
        }
    }
}