.redessociales{
    background-color: $color-12;
    height: 20vh;
    font-family: $fuente1;
}
.redessociales h4{
    color:$color3;
    font-weight: bold;
    font-size: 1.5rem;
    font-style: italic;
}

.redessociales .row{
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.redessociales ul li{
    list-style: none;
}
.redessociales ul li a{
    color:$color3;
    margin: 1rem;
    font-size: 1.2em;
}
