/*---------------------------------
SECCION HOME BLOG
------------------------------------*/

.Homeblog {
    font-family: $fuente2;
    margin-top: 3em;
    text-align: center;
  }
  
  .Homeblog h3 {
    font-weight: bold;
    color: $color1;
    text-align: center;
    
  }
  
  .Homeblog .owl-carousel a {
    text-decoration: none;
    color: $color2;
  }
  
  .imgblog {
    width: 150px;
    height: auto;
    border-radius: 0.5em;
  }
  
  .Homeblog .owl-carousel .owl-nav .owl-prev,
  .Homeblog .owl-carousel .owl-nav .owl-next {
    font-size: 3rem;
    margin: 0 .5rem;
    color: $color1;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  
  .Homeblog .owl-carousel .owl-nav .owl-prev:hover,
  .Homeblog .owl-carousel .owl-nav .owl-next:hover {
    color: $color4;
  }
  
  /*Fin de Estilo de la Seccion del Blog*/
  @import 'botones';