.fade {
  background-color: transparent !important; }

.nav-tabs {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  /* border: 0; */
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: -20px;
  background-color: #EFF0F3;
  z-index: 2;
  position: relative;
  padding: 1.7rem !important; }

.blue-grey.lighten-2 {
  background-color: #2768b9 !important;
  height: 9px;
  margin-top: 10px; }

.strim .nav {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }

.strim ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center; }

.strim ul li img {
  width: 100%;
  height: auto;
  overflow: hidden; }

@media (min-width: 320px) {
  .div .notice {
    position: relative;
    top: 546px; } }

/*# sourceMappingURL=strime.css.map */