/*---------------------------------------------
DECLARACION DE VARIABLES GLOBALES
--------------------------------------------*/

/*Colores*/

$color1: #e10613;
$color2: #3c3c3b;
$color3: #fff;
$color4: rgba(63, 63, 63, 0.835); //Fondo menu
$color5:black;
/* Fuentes*/

$fuente1: Ralewey,
sans-serif;
$fuente2: Roboto,
sans-serif;
/*Imagenes*/

$imagen-Principal: url(../img/HomeBannerPrincipal1200.jpg);
$imagen-movil: url(../img/HomeBannerPrincipal1024.jpg);
/*Estilo para el Parallax */

html,
body,
header,
.jarallax {
  height: 100vh;
  font-size: 15px;
  font-family: $fuente1;
}

html,
body,
header,
.intro-2 {
  height: 700px;
}

/*Estilo de Seccion de Bienvenido*/

.bienvenidos {
  background: $imagen-movil no-repeat center top;
  color: $color3;
  background-size: cover; //toda la imagen se muestre lo mejor posible
  background-attachment: fixed !important;
  height: 100vh; // altura al 100% del dispositivo
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.encabezado {
  color: $color3;
  padding: .5rem 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.encabezado .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.fondo-menu {
  background: $color3;
  padding: 1rem 0;
  max-height: 77px;
  margin-top: -8px;
}

.fondo-movil-menu {
  background: $color4;
  padding: 1rem 0;
}

/*Estilo de Logo encabezado*/

.encabezado .container a {
  flex: 1 1;
  order:1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.encabezado .container a img {
  width: 150px;
  height: auto;
}

/*Aplicando el centrado del Logo en el Navbar*/

// .encabezado .logo {
//   margin-left: auto;
// }
/*Estilos para el boton: buscar y menu*/

.boton-buscar{
  order:2;
}
.boton-buscar,
.boton-menu {
  border: 0;
  font-size: 2rem;
  margin: 0;
  padding: 0 .5rem;
  background: transparent;
  color: $color1;
}

.boton-buscar:focus,
.boton-menu:focus {
  outline: 0;
}

// .boton-buscar {
//   margin-left: auto;
//   margin-right: .8rem;
// }
/*Estilo bloque buscar*/

/*Bloque Buscar hijo flexible que creca factor reduccion 1 y que ocupe el 100%*/

#bloque-buscar {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
}

.contenedor-bloque-buscar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; //Padre Contenedor
  height: 3rem;
  margin: 1rem 0;
}

/*Selector de Atributtos*/

.contenedor-bloque-buscar input[type="text"] {
  border: 1;
  border-radius: 5px 0 0 5px;
  padding: 1rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.contenedor-bloque-buscar input[type="submit"] {
  // -webkit-box-flex: 1;
  // -webkit-flex: 1 1 auto;
  // -ms-flex: 1 1 auto;
  // flex: 1 1 auto; //cresca, reduzca, ocupe el espacio restantes
  border: 0;
  border-radius: 0 5px 5px 0;
  background: $color1;
  color: $color3;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  padding: 10.5px 1rem; //padding interno del buton buscar
}

#menu-principal {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%; // cresca, redusca, ocupe 100%
  order:2;
}

#menu-principal ul {
  padding: 0;
  list-style: none;
  margin: 1rem 0 0 0;
}

/*Estilo para el Menu de navegacion movil*/

#menu-principal ul a {
  display: block; //elemento en linea para ocupe todo el ancho del contenedor
  padding: .8rem 0;
  text-align: center;
  color: $color1;
  font-weight: bold;
  text-transform: uppercase;
  border-top: 1px solid $color3;
  text-decoration: none;
}

#menu-principal ul a:hover,
#menu-principal ul li.active a {
  color: $color3;
}
.bienvenidos .container ul{
  order:3;
  display: flex;
  list-style: none;
}
.bienvenidos .container ul li{
  margin-left: .5rem;
}
.bienvenidos .container ul li a{
  text-decoration: none;
  color:$color1;
}


/*Estilo de la fecha bajar*/

.flecha-bajar a {
  display: inline-block;
  color: $color1;
  font-size: 4rem;
  -webkit-animation: flecha-animada 2s ease-in-out infinite; //llamada a la animacion (nombre del animacion,cuanto dura,la aceleracion,continua infinite)
  animation: flecha-animada 2s ease-in-out infinite;
}

/*Animacion Personalizada*/

@-webkit-keyframes flecha-animada {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes flecha-animada {
  from {
    -webkit-transform: translateY(0); //ubicacion vertical;
    transform: translateY(0);
  }
  50% {
    // a la mitad de la animacion 
    -webkit-transform: translateY(6px); // que baje unos 6px
    transform: translateY(6px);
  }
  to {
    // parte final de la animacion
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/*Fin del Estilo de la flecha Bajar*/

/*Fin de Bienvenido*/

/*---------------------------------
SECCION HOME BLOG
------------------------------------*/

.Homeblog {
  font-family: $fuente2;
  margin-top: 3em;
  text-align: center;
}

.Homeblog h1 {
  font-weight: bold;
  color: $color1;
}

.Homeblog  .owl-carousel a {
  text-decoration: none;
  color: $color2;
}

.imgblog {
  width: 150px;
  height: auto;
  border-radius: 0.5em;
}

.Homeblog .owl-carousel .owl-nav .owl-prev,
.Homeblog .owl-carousel .owl-nav .owl-next {
  font-size: 3rem;
  margin: 0 .5rem;
  color: $color1;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.Homeblog .owl-carousel .owl-nav .owl-prev:hover,
.Homeblog .owl-carousel .owl-nav .owl-next:hover {
  color: $color4;
}

/*Fin de Estilo de la Seccion del Blog*/

/*---------------------------------
SECCION ├ÜLTIMOS Eventos
------------------------------------*/

.ultimos-eventos {
  font-family: $fuente2;
  text-align: center;
}

.ultimos-eventos .container h1 {
  font-weight: bold;
  color: $color1;
}

.ultimos-eventos .container .owl-carousel a img {
  border-radius: 1em;
}

.ultimos-eventos a {
  text-decoration: none;
}

.ultimos-eventos a h4 {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: $color2;
}

.ultimos-eventos .container {
  padding-left: 0;
  padding-right: 0;
}

.ultimos-eventos .owl-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: .3rem 0;
}

.ultimos-eventos .container .owl-carousel .owl-nav .owl-prev,
.ultimos-eventos .container .owl-carousel .owl-nav .owl-next {
  font-size: 3rem;
  margin: 0 .5rem;
  color: $color1;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.ultimos-eventos .container .owl-carousel .owl-nav .owl-prev:hover,
.ultimos-eventos .container .owl-carousel .owl-nav .owl-next:hover {
  color: $color4;
}

/*Fin del Estilo Ultimo Eventos*/

/*Estilo de Galeria*/

.galeria {
  font-family: $fuente2;
  text-align: center;
}

.galeria h1 {
  font-weight: bold;
  color: $color1;
}

#gallery .pics img {
  border-radius: 0.5em;
}

/*Fin de Estilo Galeria*/

/*Estilo de Temas de Interes*/

.temasinteres {
  font-family: $fuente2;
  margin-top: 3em;
  text-align: center;
}

.temasinteres h2 {
  color: $color1;
}

.temasinteres h1 {
  font-weight: bold;
  color: $color1;
}

/*Fin de Estilo de temas de Interes*/

/*Estilo del Footer*/

footer .container {
  margin-top: 3em;
  text-align: center
}

footer .logo img {
  width: 150px;
  height: auto;
  margin-bottom: 1em;
}

footer .container p {
  margin-left: 36px;
}

footer .container p i {
  font-size: 28px;
  margin-right: 28px;
  color: $color1;
}

/*Estilo de Franja Copy*/

.franja {
  background-color: $color1;
  color: $color3;
}

/*Estilo Boton ir Arriba*/

.ir-arriba {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 3rem;
  color: $color1;
  text-decoration: none;
  z-index: 99999;
  line-height: 0;
  display: none;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.ir-arriba:hover,
.ir-arriba:focus {
  outline: 0;
  text-decoration: none;
  color: $color1;
}

/*Fin de Boton Ir Arriba*/


/*---------------------------------
SECCION DERECHA HOME
------------------------------------*/
/*Estilo del boton buscar */

.general .derecha form input{
  border: 0;
  border-bottom: 1px solid $color1;
  padding: 1rem auto;
} 

.general .derecha form i{
  color:$color1;
} 
.form-control{
  padding: 0.50rem .5rem;
  font-size:0.9rem;
  border-radius: 0;
}

/*---------------------------------------------
EMPIEZAN LAS MEDIAS QUERIES
--------------------------------------------*/

@media (min-width: 768px) {
  .boton-menu {
    display: none;
  }
  .logo {
    flex: 1 1 auto;
  }
  
  #menu-principal {
    height: auto !important;
    display: block;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    margin-left: auto;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  #menu-principal ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 0 0;
  }
  #menu-principal ul li a {
    padding: .8rem;
    text-transform: capitalize;
    margin: 0 .3rem;
    border-top: 0px;
    border-bottom: 4px solid transparent;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  #menu-principal ul li.active a,
  #menu-principal ul li a:hover {
    color: $color1;
    border-bottom: 4px solid $color1;
  }
  .boton-buscar {
    margin-left: 1rem;
    margin-right: 0;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }
  #bloque-buscar {
    margin-top: 1rem;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
    position: absolute;
    width: 20rem;
    right: 2rem;
    top: 4rem;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .contenedor-bloque-buscar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 3rem;
    margin: 1rem 0;
  }
  .contenedor-bloque-buscar input[type="text"] {
    border: 1;
    border-radius: 5px 0 0 5px;
    padding: 1rem;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    height: 2rem; //adicional la altura 
  }
  .contenedor-bloque-buscar input[type="submit"] {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    border: 0;
    border-radius: 0 5px 5px 0;
    background: $color1;
    color: $color3;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    padding: 0 1rem;
    height: 2.2rem; //adicional altura
  }
  /*Estilos agregados*/
  /*Estilo de Logo encabezado*/
  .encabezado .container a {
    justify-content: flex-start;
  }
  /*----------------------------
  Estilo de Seccion de Blog Home
  -----------------------------*/
  .Homeblog .container h3 {
    margin-top: 1rem;
  }
  .Homeblog .container a img {
    width: 100%;
    height: auto;
    border-radius: 0.5em;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 16px;
  }
  .bienvenidos {
    background: $imagen-Principal no-repeat center top;
    background-size: cover;
  }
}