/*-------------------
Estilos generalizados
---------------------*/
/*---------------------------------------------
DECLARACION DE VARIABLES GLOBALES
--------------------------------------------*/
/*--------------------------------------------------------
Carga de la Fuentes Mediante import de css
----------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Raleway|Roboto");
/* -----------------------------------------------------
para cargar las rutas de fontAwesome todavia en Prueba!!!
---------------------------------------------------------*/
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot");
  src: url("../fonts/fontawesome-webfont.eot") format("embedded-opentype");
  src: url("../fonts/fontawesome-webfont.woff2") format("woff2");
  src: url("../fonts/fontawesome-webfont.woff") format("woff");
  src: url("../fonts/fontawesome-webfont.ttf") format("truetype");
  src: url("../fonts/fontawesome-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
/*----------------------------
Colores para la pagina de Universidad
-----------------------------*/
/*-------------------------------------
Colores Generales para la plantilla
--------------------------------------*/
/* -------------------------------
Fuentes
--------------------------*/
/*--------------------------------------------------
Imagenes de la pagina principal
----------------------------------------------------*/
/*-----------------------------------------------------------
Imagenes para la parte de programa de estudios
------------------------------------------------------------*/
/*----------------------------------------------------------
Imagenes para el Parallax de Tipo scene
------------------------------------------------------------*/
/*--------------------------------------------------------------
Funcion para asignar parallax  recibe como parametro la imagen
y le aplica las propiedades corespondientes al parallax
-----------------------------------------------------------------*/
/*-----------------------------------------------------------------
Manipulacion general de los tamanos de los logo en resposive y
original
------------------------------------------------------------------*/
/*Logo Postgrado para resoluciones mayores a 1024*/
/*logo de Postgrado para resoluciones menores a 992*/
/*----------------------------------------------------*/
/*Logo facultad para resoluciones mayores a 1024*/
/*logo de Facultad para resoluciones menores a 992*/
/*Logo de facultad del footer*/
/*-------------------------------------------------------*/
/*Logo UC para resoluciones mayores a 1024*/
/*logo de UC para resoluciones menores a 992*/
/*logo de la UC del footer*/
/*--------------------------------------------------------*/
/*----------------------------------
Funcion para imagenes
-------------------------------------*/
/*Box -sizing*/
/*Variables para los tamanos de los Medias Queries*/
/*Media Queries*/
.header {
  background-color: grey;
  font-size: 1em; }

.header .row {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header .row p {
  margin: 0.7em;
  color: #fff; }

.header .buscar-contenedor a {
  color: #fff;
  margin: 0.5em; }

.header .buscar-contenedor a:hover {
  color: #666666; }

.header input[type="text"] {
  padding: 0.2em;
  border-radius: 0.5em;
  width: 250px; }

.header .nav-flex-icons {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header .nav-link {
  margin: 0.5em;
  padding: 0.2em;
  color: #fff; }

#buscar-sugerencia {
  margin: 0.5em; }

/*Estilo de Seccion de Bienvenido*/
.bienvenidos {
  color: #fff;
  background: url(../img/pagina/postgrado/HomeBanner2Principal1200.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.parallax-320 {
  background: url();
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 60vh; }

.parallax-480 {
  background: url(../img/pagina/postgrado/HomeBanner2Principal480.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 60vh; }

.parallax-800 {
  background: url(../img/pagina/postgrado/HomeBanner2Principal720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 60vh; }

.parallax-1024 {
  background: url();
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 80vh; }

.parallax-1200 {
  background: url(../img/pagina/postgrado/HomeBanner2Principal1200.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 80vh; }

.bienvenidos .row .col-lg-6 {
  background-color: #1D243B; }

.bienvenidos .row h1 {
  padding: 0.3em; }

.bienvenidos .row h3 {
  margin: 0;
  padding: 0.2em; }

.bienvenidos .row .col-lg-5 {
  background-color: #309FBE; }

/*Estilo del Encabezado*/
/*------------------------------------------------

Estilo del Nav 2
-------------------------------------------------*/
.dropdown-submenu {
  position: relative; }

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  border-radius: 0 6px 6px 6px; }

.dropdown-submenu:hover > .dropdown-menu {
  display: block; }

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px; }

.dropdown-submenu:hover > a:after {
  border-left-color: #fff; }

.dropdown-submenu.pull-left {
  float: none; }

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  border-radius: 6px 0 6px 6px; }

/*Logo Postgrado Principal*/
.navbar-brand img {
  width: 179px;
  height: auto; }

.navbars {
  background-color: #fff;
  color: #575757;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.navbars .navbar-toggler {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0; }

.navbars .navbar-brand {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1; }

#navbarSupportedContent1 {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4; }

.color {
  background: #F2F2F2; }

.navbar .mega-dropdown {
  position: static !important; }

.navbar .dropdown-menu.mega-menu {
  width: 100%;
  border: none;
  border-radius: 0; }

.navbar .dropdown-menu.mega-menu.v-2 a {
  padding: 8px 6px 0px 0px; }

.navbar .dropdown-menu.mega-menu.v-2 a.news-title-2 {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  -webkit-transition: .2s;
  transition: .2s;
  color: #000 !important; }

.navbar .dropdown-menu.mega-menu.v-2 a.news-title-2:hover {
  color: #08294D !important;
  font-weight: bold; }

.navbar .dropdown-menu.mega-menu.v-2 .sub-menu ul {
  list-style: none; }

.navbar .dropdown-menu.mega-menu.v-2 .sub-menu ul.caret-style li {
  -webkit-transition: .3s;
  transition: .3s; }

/* .navbar .dropdown-menu.mega-menu.v-2 .sub-menu ul.caret-style li:hover {
    background-color: rgb(8, 41, 72);
    -webkit-transition: .3s;
    transition: .3s;
} */
.navbar .dropdown-menu.mega-menu.v-2 .sub-menu ul.caret-style li a:after {
  /* content: '\f002';
  font-family: FontAwesome; */
  position: absolute;
  left: 0.5rem;
  font-size: 12px;
  top: 1rem; }

.navbar .dropdown-menu.mega-menu.v-2 .sub-menu a.menu-item {
  color: #000 !important; }

.navbar .dropdown-menu.mega-menu.v-2 .sub-menu a.menu-item:hover {
  color: #082948 !important;
  font-weight: bold; }

.navbar .dropdown-menu.mega-menu.v-2 .sub-title {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid; }

.navbar .dropdown-menu.mega-menu.v-2 .font-small {
  font-size: 0.85rem; }

a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: #08294D;
  text-decoration: none;
  font-weight: bold; }

.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(8,41,72,0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  cursor: pointer; }

/*------------------------------------------------
Estilo Complemetario para el boton buscar
-------------------------------------------------*/
.boton-buscar,
.boton-menu {
  border: 0;
  font-size: 1.5rem;
  margin: 0;
  padding: 0 .5rem;
  background: transparent;
  color: #575757;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2; }

#bloque-buscar {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%; }

.contenedor-bloque-buscar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3rem;
  margin: 1rem 0; }

/*Selector de Atributtos*/
.contenedor-bloque-buscar input[type="text"] {
  border: 1;
  border-radius: 5px 0 0 5px;
  padding: 1rem;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.contenedor-bloque-buscar input[type="submit"] {
  border: 0;
  border-radius: 0 5px 5px 0;
  background: #666666;
  color: #fff;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  padding: 10.5px 1rem; }

/*-------------------------
Estilo Adiccional del nav-link 
hover
----------------------------*/
.nav-link:focus, .nav-link:hover {
  text-decoration: none;
  color: #08294d;
  font-weight: bold; }

.navbar-nav.ml-auto li a {
  color: #666666; }

.navbar-nav.ml-auto li a:hover {
  text-decoration: none;
  color: #08294d;
  font-weight: bold; }

/*Estilo del Nav en Scroll*/
.nav-scroll {
  height: 86px; }

#navbarSupportedContent1 .navbar-nav.ml-auto {
  margin-right: 2rem; }

#logofacultad {
  width: 45px;
  height: auto; }

#logouc {
  width: 26px;
  height: auto; }

.botones-principales {
  margin-top: 1rem; }

.botones-principales .btn.btn-secundary {
  vertical-align: middle;
  color: #fff;
  font-size: .9em;
  text-align: center;
  text-transform: uppercase;
  padding: 1rem;
  width: 100%;
  height: auto;
  line-height: 1rem;
  margin: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #1D243B;
  font-weight: bold;
  border-bottom: 5px solid #309FBE; }

.botones-principales .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.botones-principales .btn.btn-secundary:hover {
  color: #D79300;
  background-color: #fff;
  border: 1px solid #D79300; }

.noticias .owl-carousel {
  -webkit-box-shadow: 0px 2px 27px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 27px -3px rgba(0, 0, 0, 0.75);
  padding: 2em; }

.noticias .owl-carousel .item {
  border-left: 5px solid #1D243B;
  padding-left: 1rem; }

.noticias .owl-carousel .item a h6 {
  color: #0071BB; }

.noticias > h4 {
  color: #1D243B;
  font-weight: bold;
  font-size: 2rem;
  margin: 1rem 0;
  color: #1D243B; }

.postulate-480 {
  background: url(../img/pagina/postgrado/CintilloPostulate480.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 24vh; }

.postulate-800 {
  background: url(../img/pagina/postgrado/CintilloPostulate720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 24vh; }

.postulate-1200 {
  background: url(../img/pagina/postgrado/CintilloPostulate.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 24vh; }

.postulate .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.postulate h1 {
  margin-top: 2rem;
  color: #fff;
  font-family: Ralewey, sans-serif;
  font-style: italic;
  font-size: 3em;
  font-weight: bold; }

/*Estilo para el Parallax */
html,
body,
header,
.jarallax {
  height: 100%;
  font-size: 13px;
  font-family: Ralewey, sans-serif;
  line-height: 1.45;
  color: black; }

html,
body,
header,
.intro-2 {
  height: 5rem;
  background: #fff; }

.general {
  background: #fff;
  margin-top: 1rem; }

.general .ingeniero .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.general .ingeniero .row h1 {
  color: #1D243B;
  font-size: 1.5rem; }

.general .ingeniero .row h4 {
  color: #1D243B;
  font-size: 2rem;
  font-weight: bold;
  font-size: 1.5rem; }

.general .ingeniero .row span {
  font-weight: bold; }

.general .doctorado {
  font-family: Ralewey, sans-serif; }

.general .doctorado h2 {
  color: #1D243B; }

.general .doctorado h3 {
  color: #1D243B; }

/*----------------------------------------------
Estilo para la Tabbed de la Seccion Emprende En 
Radio y Television
-----------------------------------------------*/
#tabbed {
  width: 100%; }

#tabbed h2 {
  font-weight: bold;
  font-size: 2rem;
  margin: 1rem 0; }

#tabbed h3.titulo-emprende {
  font-size: 2rem;
  font-style: italic;
  margin: 1rem 0; }

#tabbed label.tabs {
  color: #fff;
  font-weight: bold; }

.t-1 {
  background: #666666; }

.t-2 {
  background: #44bc00; }

.t-3 {
  background: #ff6c2e; }

.t-4 {
  background: #9b2e9c; }

.t-5 {
  background: #682784; }

.t-6 {
  background: #ffa400; }

.t-7 {
  background: #00a986; }

.t-8 {
  background: #004e92; }

#tabbed label.tabs {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #fff;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  padding-left: 2.5em;
  padding-top: 2rem;
  padding-right: 3em;
  width: 182px;
  height: 94px;
  line-height: 1rem; }

/*-------------------------------------------------
    Estilo para el contenido del Tab 
    --------------------------------------------------*/
#tabbed .wrapper .container {
  margin: 0 auto; }

#tabbed .wrapper .container .row .col-md-2 {
  margin: 0 1rem;
  text-align: center; }

#tabbed .wrapper .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

#tabbed .wrapper .container .row iframe {
  width: 100%;
  height: 247px; }

#tabbed .wrapper .container .row .col-md-5 {
  margin: 1rem;
  text-align: justify; }

#tabbed .wrapper .container .row .col-md-5 h4 {
  font-weight: bold; }

#tabbed .wrapper .container .row .col-md-5 p {
  margin: 1rem 0; }

#tabbed .wrapper .container .row .col-md-5 .boton-saber {
  border-radius: 50%;
  position: relative;
  right: -16.1rem;
  top: -0rem;
  font-size: 0.6em;
  font-weight: bold;
  background-color: #309FBE !important;
  width: 70px;
  height: 70px;
  padding-top: 2.3rem;
  -webkit-box-shadow: none;
          box-shadow: none; }

/*------------------------------------------------
Seccion del Tabbed Maestria
------------------------------------------------*/
#tabbed2 {
  width: 100%; }

#tabbed2 h2 {
  font-weight: bold;
  font-size: 2rem;
  margin: 1rem 0;
  color: #1D243B; }

#tabbed2 h3.titulo-emprende {
  font-size: 2rem;
  font-style: italic;
  margin: 1rem 0; }

#tabbed2 label.tabss {
  color: #0071BB;
  font-weight: bold; }

.ta-1 {
  background: #309FBE; }

.ta-2 {
  background: #1D243B; }

.ta-3 {
  background: #1D243B; }

.ta-4 {
  background: #1D243B; }

.ta-5 {
  background: #1D243B; }

.ta-6 {
  background: #1D243B; }

.ta-7 {
  background: #1D243B; }

.ta-8 {
  background: #1D243B; }

#tabbed2 label.tabss {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #fff;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  padding: 1.5rem;
  width: 182px;
  height: 94px;
  line-height: 1.5rem; }

/*-------------------------------------------------
    Estilo para el contenido del Tab 
    --------------------------------------------------*/
#tabbed2 .wrapper .container {
  margin: 0 auto; }

#tabbed2 .wrapper .container .row .col-md-2 {
  margin: 0 1rem;
  text-align: center; }

#tabbed2 .wrapper .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

#tabbed2 .wrapper .container .row iframe {
  width: 100%;
  height: 247px; }

#tabbed2 .wrapper .container .row .col-md-5 {
  margin: 1rem;
  text-align: justify; }

#tabbed2 .wrapper .container .row .col-md-5 h4 {
  font-weight: bold; }

#tabbed2 .wrapper .container .row .col-md-5 p {
  margin: 1rem 0; }

#tabbed2 .wrapper .container .row .col-md-5 .boton-saber {
  border-radius: 50%;
  position: relative;
  top: -4rem;
  font-size: 0.9em;
  font-weight: bold;
  background-color: #1D243B !important;
  width: 100px;
  height: 100px;
  padding-top: 2.3rem;
  -webkit-box-shadow: none;
          box-shadow: none; }

#tabbed2 label img {
  width: 40px;
  height: 47px; }

/*------------------------------------------------
Seccion del Tabbed Especializaciones
------------------------------------------------*/
#tabbed3 {
  width: 100%; }

#tabbed3 h2 {
  font-weight: bold;
  font-size: 2rem;
  margin: 1rem 0;
  color: #1D243B; }

#tabbed3 h3.titulo-emprende {
  font-size: 2rem;
  font-style: italic;
  margin: 1rem 0; }

#tabbed3 label.tabsb {
  color: #0071BB;
  font-weight: bold; }

.tb-1 {
  background: #D79300; }

#tabbed3 label.tabsb {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #fff;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  width: 236px;
  height: 94px;
  line-height: 1.5rem; }

/*-------------------------------------------------
    Estilo para el contenido del Tab 
    --------------------------------------------------*/
#tabbed3 .wrapper .container {
  margin: 0 auto; }

#tabbed3 .wrapper .container .row .col-md-2 {
  margin: 0 1rem;
  text-align: center; }

#tabbed3 .wrapper .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

#tabbed3 .wrapper .container .row iframe {
  width: 100%;
  height: 247px; }

#tabbed3 .wrapper .container .row .col-md-5 {
  margin: 1rem;
  text-align: justify; }

#tabbed3 .wrapper .container .row .col-md-5 h4 {
  font-weight: bold; }

#tabbed3 .wrapper .container .row .col-md-5 p {
  margin: 1rem 0; }

#tabbed3 .wrapper .container .row .col-md-5 .boton-saber {
  border-radius: 50%;
  position: relative;
  top: -4rem;
  font-size: 0.9em;
  font-weight: bold;
  background-color: #1D243B !important;
  width: 100px;
  height: 100px;
  padding-top: 2.3rem;
  -webkit-box-shadow: none;
          box-shadow: none; }

#tabbed3 label img {
  width: 40px;
  height: 47px; }

@media (max-width: 320px) {
  #tabbed3 label.tabsb {
    display: inline-block;
    font-size: 0.6rem;
    padding: 1rem;
    width: 100%;
    height: auto; }

  #tabbed3 label.tabsb {
    padding: 0 1rem; }

  #tabbed2 label.tabss {
    display: inline-block;
    font-size: 0.6rem;
    padding: 1rem;
    width: 100%;
    height: auto; }

  #tabbed2 label.tabss {
    padding: 0 1rem; }

  #tabbed label.tabs {
    display: inline-block;
    font-size: 0.6rem;
    padding: 1rem;
    width: 100%;
    height: auto; }

  #tabbed label.tabs {
    padding: 0 1rem; } }
.cursos h4 {
  font-size: 2.5rem;
  color: #1D243B;
  text-align: center; }

.cursos .contenedor {
  position: relative;
  display: inline-block;
  text-align: right; }

.cursos .contenedor .centrado {
  position: absolute;
  top: 29%;
  left: 78%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: black;
  font-size: 2rem;
  font-weight: bold; }

.cursos .contenedor2 {
  position: relative;
  display: inline-block;
  text-align: left; }

.cursos .contenedor2 .centrado2 {
  position: absolute;
  top: 29%;
  left: 23%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2rem;
  font-weight: bold; }

.ultimos-post img {
  width: 100%; }

.ultimos-post p {
  font-size: 13px;
  color: black;
  text-align: justify; }

.ultimos-post h4 {
  color: #1D243B;
  text-align: left; }

.redessociales {
  background-color: #1D243B;
  height: 20vh;
  font-family: Ralewey, sans-serif; }

.redessociales h4 {
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  font-style: italic; }

.redessociales .row {
  padding: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.redessociales ul li {
  list-style: none; }

.redessociales ul li a {
  color: #fff;
  margin: 1rem;
  font-size: 1.2em; }

/*Estilo del Footer*/
footer {
  background-color: #fff;
  color: black;
  padding-top: 1rem;
  margin-bottom: 1rem; }

footer .container-fluid h6 {
  font-weight: bold;
  margin-bottom: 1.5rem; }

footer iframe {
  -webkit-box-shadow: 3px 4px 18px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 4px 18px -1px rgba(0, 0, 0, 0.75);
  margin-top: 1rem; }

footer .logo img {
  width: 100%;
  height: auto; }

footer .logofuc img {
  width: 40px;
  height: auto; }

footer .logoffa img {
  width: 71px;
  height: auto; }

footer .container-fluid .icon {
  float: left;
  font-size: 1.2rem; }

footer .container-fluid .icono {
  font-size: 1.3rem;
  margin-left: 1rem; }

footer .container-fluid p {
  margin-left: 36px; }

footer .container-fluid .copy {
  margin: 0;
  font-size: .7rem; }

footer .container-fluid p i {
  font-size: 28px;
  margin-right: 28px;
  color: #666666; }

footer ul {
  margin-left: -2.5rem; }

footer ul li {
  list-style: none; }

footer ul li a {
  font-size: 1rem;
  color: #1D243B; }

footer ul li a:hover {
  color: #309FBE; }

footer a {
  color: #1D243B; }

footer a:hover {
  color: #309FBE; }

footer iframe {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: auto; }

/*Estilo Boton ir Arriba*/
.ir-arriba {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 3rem;
  color: #666666;
  text-decoration: none;
  z-index: 99999;
  line-height: 0;
  display: none;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

.ir-arriba:hover,
.ir-arriba:focus {
  outline: 0;
  text-decoration: none;
  color: #666666; }

/*Fin de Boton Ir Arriba*/
.franja {
  background-color: #1D243B; }

.franja .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.2rem; }

.franja a {
  color: #fff; }

.franja a:hover {
  color: #309FBE; }

/*----------------------
Secciones Complementarias
-----------------------*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  font-family: Ralewey, sans-serif; }

.programa_estudios {
  background-image: url(../img/pagina/postgrado/BannerProgramasdeEstudios1200.png);
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 1rem;
  background-size: cover;
  height: 8rem; }
  @media only screen and (min-width: 425px) {
    .programa_estudios {
      height: 7rem; } }
  @media only screen and (min-width: 768px) {
    .programa_estudios {
      height: 9rem; } }
  @media only screen and (min-width: 1024px) {
    .programa_estudios {
      height: 15rem; } }
  @media only screen and (min-width: 2000px) {
    .programa_estudios {
      height: 24rem; } }
  .programa_estudios .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 9rem; }
    @media only screen and (min-width: 768px) {
      .programa_estudios .container {
        height: 10rem; } }
    @media only screen and (min-width: 1024px) {
      .programa_estudios .container {
        height: 15rem; } }
    @media only screen and (min-width: 2000px) {
      .programa_estudios .container {
        height: 20rem; } }
  .programa_estudios h3 {
    -ms-flex-item-align: end;
        align-self: flex-end;
    background-color: #1D243B;
    padding: 1rem;
    color: #fff;
    font-weight: 700; }

.contenido p {
  text-align: justify;
  font-size: 1rem;
  line-height: 1.5rem; }
.contenido h5 {
  font-weight: 700;
  margin-bottom: 1rem; }
.contenido ul li {
  text-decoration: none;
  list-style: none; }

.fichas-programas {
  margin: 2rem; }
  .fichas-programas h4 {
    font-weight: 700; }
  .fichas-programas img {
    width: 100%; }
  .fichas-programas .row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center; }
  .fichas-programas a {
    padding: 1rem;
    border: 1px solid #fff;
    color: #fff; }
  .fichas-programas .doctorado h4 {
    margin-bottom: 1rem; }
  .fichas-programas .doctorado a:hover {
    background-color: #fff;
    color: #666666; }
  .fichas-programas .doctorado p {
    font-weight: bold; }
  .fichas-programas .botones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .fichas-programas .maestrias {
    margin-top: 1rem; }
    @media only screen and (min-width: 768px) {
      .fichas-programas .maestrias {
        margin-top: 0; } }
    .fichas-programas .maestrias a:hover {
      background-color: #fff;
      color: #309FBE; }
  .fichas-programas .especializaciones {
    margin-top: 1rem; }
    @media only screen and (min-width: 768px) {
      .fichas-programas .especializaciones {
        margin-top: 0; } }
    .fichas-programas .especializaciones a:hover {
      background-color: #fff;
      color: #D79300; }

.cursos-blog {
  margin: 1rem 0; }
  .cursos-blog a {
    text-align: center;
    padding: 1rem;
    border: 1px solid #fff;
    color: #fff; }
  .cursos-blog a:hover {
    background-color: #fff;
    color: #44bc00; }
  .cursos-blog .botones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .cursos-blog h4 {
    text-align: center;
    font-weight: 700; }
  .cursos-blog h5 {
    color: #1D243B; }
  .cursos-blog p {
    text-align: justify;
    font-size: 1rem;
    line-height: 1.5rem; }
  .cursos-blog img {
    width: 100%; }
  .cursos-blog .row {
    margin-bottom: 1rem; }

/*-------------------------------------
Estilos para la pagina formacion.html
---------------------------------------*/
.areas a {
  color: #1D243B; }
.areas a:hover h5 {
  color: #D79300; }
.areas h4 {
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem; }
.areas h5 {
  font-weight: bold; }
.areas p {
  text-align: justify;
  font-size: 1rem;
  line-height: 1.5rem; }

.contenido-general h4 {
  text-align: center;
  font-weight: 700;
  margin-bottom: 2rem; }
.contenido-general h5 {
  font-weight: 700;
  margin-bottom: 1rem; }
.contenido-general p {
  text-align: justify;
  font-size: 1rem; }

/*---------------------------------------------
Estilo para el pensum.html
----------------------------------------------*/
.tabla {
  color: #1D243B;
  margin: 0 auto;
  width: 100%; }
  .tabla th {
    font-weight: 700; }
  .tabla tbody td {
    border: 1px solid #1D243B; }

/*estilo de paginado del blog*/
.blog-paginado {
  border-radius: 1em;
  padding: 1%; }

a {
  color: #666666; }

.blog-paginado a:hover {
  text-decoration: none;
  color: #666666; }

/* estilos primera imagen del blog */
#tarjeta-1 {
  border-radius: 2em;
  -webkit-box-shadow: 7px 7px 2px #777575;
          box-shadow: 7px 7px 2px #777575; }

/*------------------------
Estilos Personalizados para
imagen principal del blog
--------------------------*/
.card .view {
  border-radius: 1rem !important; }

.card .card-body {
  border-radius: 1rem !important; }

/* Estilo del texto*/
.texto p {
  text-align: justify; }

.texto a span {
  font-size: 1rem; }

/*Estilo del Paginador del Blog*/
.paginador nav ul li a {
  font-weight: bold; }

.pagination .page-item .page-link {
  font-size: 1rem !important;
  color: #666666; }

.pagination .page-item.active .page-link {
  background: #666666 !important;
  color: #fff; }

.pagination .page-item.disabled .page-link {
  color: #05324b; }

/*-------------------------------
SECCION SERVICIOS
--------------------------------*/
.servicios {
  background-size: cover;
  background-attachment: fixed !important; }

.servicios article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0; }

.servicios img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 86px;
          flex: 0 0 86px;
  height: 78px;
  overflow: hidden;
  margin-right: 1rem;
  margin-left: -23px; }

.servicios h3 {
  margin: 0;
  font-size: 1.1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto; }

.servicios h3 a {
  color: black;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none; }

.servicios h3 a::after {
  content: "\f054";
  font-family: FontAwesome;
  font-size: 2rem;
  margin-left: 1rem;
  opacity: .5;
  position: relative;
  left: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  color: #666666; }

.servicios h3 a:hover::after {
  left: -.5rem;
  opacity: 1;
  color: #666666; }

.servicios h3 spam {
  font-size: 15px; }

.eventos {
  height: 15vh; }

/*------------------
Vista Responsive
--------------------*/
@media (min-width: 768px) {
  /*RSS Navbar*/
  .bienvenidos .container-fluid > ul {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: red; }

  .bienvenidos .container-fluid > ul li a {
    text-decoration: none;
    color: #575757; }

  .encabezado .container-fluid {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline; }

  .encabezado .container-fluid a {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }

  /*Fin de RSS Navbar*/
  .boton-menu {
    display: none; }

  .logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto; }

  #menu-principal {
    height: auto !important;
    display: block;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    margin-left: auto;
    -webkit-box-ordinal-group: 2; }

  #menu-principal ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 0 0; }

  #menu-principal ul li a {
    padding: .8rem;
    text-transform: capitalize;
    margin: 0 .3rem;
    border-top: 0px;
    border-bottom: 4px solid transparent;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }

  #menu-principal ul li.active a,
  #menu-principal ul li a:hover {
    color: #575757;
    border-bottom: 4px solid #fff; }

  #btn-busqueda-aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }

  /*Estilo de Logo encabezado*/
  .encabezado .container a {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }

  #RRS-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  #RRS-card li {
    margin-left: .5rem; }

  #RRS-card li a i {
    color: #666666; }

  .tarjeta-1 {
    -webkit-box-shadow: -2px 13px 24px #777575;
            box-shadow: -2px 13px 24px #777575; }

  .tarjeta-1 .card-body {
    text-align: center;
    padding: 1rem; }

  .tarjeta-1 .imagencard1 {
    margin-top: 1rem; }

  .tarjeta-1 .imagencard1 img {
    width: 100%;
    height: auto; }

  .tarjeta-2 {
    text-align: center;
    -webkit-box-shadow: -2px 13px 24px #777575;
            box-shadow: -2px 13px 24px #777575; }

  .tarjeta a {
    margin-bottom: 1rem; }

  .tarjeta2 a img {
    width: 100%;
    height: auto; }

  #cool_tag_cloud-4 {
    text-align: center;
    margin-bottom: 1rem;
    -webkit-box-shadow: -2px 13px 24px #777575;
            box-shadow: -2px 13px 24px #777575; }

  .arial {
    margin: 1rem; }

  /*--------------------------
  Estilo del Conoceme
  ----------------------------*/
  .conoceme .col-xs-6 {
    margin-top: 5rem; }

  .conoceme h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 1rem; }

  .conoceme p {
    font-size: 2rem;
    text-align: left; }

  .conoceme .pr {
    font-size: 1rem; }

  /*----------------------------
    Estilo de la Seccion de Blog
    -----------------------------*/
  .Homeblog a img {
    width: 100%;
    height: auto;
    border-radius: 0.5em; }

  /*Estilo del botones del blog destacado*/
  .btn {
    padding: 8px 25px;
    font-size: 20px; }

  /*------------------------
    Estilo de la seccion de Servicio 
    o Blog para este caso
    --------------------------*/
  .servicios article {
    margin: 1rem 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }

  .servicios img {
    -webkit-box-flex: 27%;
        -ms-flex: 27%;
            flex: 27%;
    overflow: hidden;
    margin: 1rem;
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    -webkit-transition: all 1s ease;
    transition: all 1s ease; }

  .servicios article:hover img {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d; }

  .servicios h3 a::after {
    content: ""; }

  .servicios h3 {
    margin: 0 0 .5rem 0;
    font-size: 1.5rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 100%; }

  .servicios h3 a {
    display: block;
    width: 100%; }

  .servicios p {
    width: 100%;
    -webkit-box-flex: 56%;
        -ms-flex: 56%;
            flex: 56%; }

  .servicios .btn-secondary {
    margin-top: auto; }

  /*Estilo botones redes sociales en articulos*/
  .contenedor-botones-sociales {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: static;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }

  .contenedor-botones-sociales button {
    border-radius: 6px;
    font-size: .85em;
    margin: 0 .5rem 0 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto; }

  /*Icono a todos los botones*/
  .contenedor-botones-sociales button:before {
    margin: 0 .3rem 0 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto; }

  .row {
    margin-left: 0;
    margin-right: 0; }

  /*------------------------------------------
  Estilo de Tabbed 1 referencia tabbed.scss
  --------------------------------------------*/
  #tabbed2 .wrapper .container .row .col-md-5 .boton-saber {
    right: -16.1rem;
    padding-top: 3.3rem;
    font-size: 0.9em;
    width: 100px;
    height: 100px;
    padding-top: 2.5rem; }

  #tabbed .wrapper .container .row .col-md-5 .boton-saber {
    right: -16.1rem;
    padding-top: 3.3rem;
    font-size: 0.9em;
    width: 100px;
    height: 100px;
    padding-top: 2.5rem; }

  /*-------------------------------------------------------------
  Estilo de Programa de Estudios referencia programaestudios.scss
  -----------------------------------------------------------------*/
  #pderecha .facultad {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }

  #ppostgrado {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }

  /*------------------------------------------------------------------
  Estilo del la vista Talleres referencia programastudios.scss
  -------------------------------------------------------------------*/
  #pizquierda iframe {
    height: 50vh; }

  .general hr {
    position: relative;
    margin-top: 133rem; }

  #tabbed2 input#ta-1:checked ~ .wrapper .taba-1,
  #tabbed2 input#ta-2:checked ~ .wrapper .taba-2,
  #tabbed2 input#ta-3:checked ~ .wrapper .taba-3,
  #tabbed2 input#ta-4:checked ~ .wrapper .taba-4,
  #tabbed2 input#ta-5:checked ~ .wrapper .taba-5,
  #tabbed2 input#ta-6:checked ~ .wrapper .taba-6,
  #tabbed2 input#ta-7:checked ~ .wrapper .taba-7,
  #tabbed2 input#ta-8:checked ~ .wrapper .taba-8 {
    margin: 0 4rem; }

  #tabbed3 input#tb-1:checked ~ .wrapper .tabb-1,
  #tabbed3 input#tb-2:checked ~ .wrapper .tabb-2,
  #tabbed3 input#tb-3:checked ~ .wrapper .tabb-3,
  #tabbed3 input#tb-4:checked ~ .wrapper .tabb-4 {
    margin: 0 4rem; }

  #tabbed3 label.tabsb {
    padding: 2rem; }

  /*Estilo de Ultimos Post*/
  .ultimos-post > h4.text-center {
    font-size: 2.5rem;
    color: #1D243B; }

  .team-section > h2 {
    font-size: 2.5rem;
    color: #1D243B; }

  .redessociales {
    height: 10vh; }

  .cursos .contenedor .centrado {
    top: 43%;
    left: 67%; }

  .cursos .contenedor2 .centrado2 {
    top: 42%;
    left: 34%; } }
@media (min-width: 992px) {
  /*-----------------------------
Estilo para banner principal
-------------------------------*/
  .bienvenidos .row .col-lg-6 {
    max-width: 46%; }

  .bienvenidos .row .col-lg-5 {
    max-width: 35.666667%; }

  /*Estilo del nav en 1024*/
  .navbars .col-lg-4 {
    max-width: 24.333333%; }

  /*--------------------------------*/
  .boton-buscar {
    margin-left: 1rem;
    margin-right: 0;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 5;
    order: 5; }

  #bloque-buscar {
    margin-top: 1rem;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    position: absolute;
    width: 20rem;
    right: 1rem;
    top: 2.5rem;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }

  .contenedor-bloque-buscar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 3rem;
    margin: 1rem 0; }

  .contenedor-bloque-buscar input[type="text"] {
    border: 1;
    border-radius: 5px 0 0 5px;
    padding: 1rem;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    height: 2rem; }

  .contenedor-bloque-buscar input[type="submit"] {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    border: 0;
    border-radius: 0 5px 5px 0;
    background: #666666;
    color: #fff;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    padding: 0 1rem;
    height: 2.2rem; }

  html {
    font-size: 16px; }

  /*Seccion de Bienvenidos*/
  .bienvenidos {
    background-size: cover; }

  .bienvenidos .row h1 {
    font-size: 1.5rem; }

  .bienvenidos .row h3 {
    font-size: 1.5rem; }

  /*-----------------------------------
   Estilo de Noticias
   -------------------------------------*/
  .noticias h6 {
    font-size: 1em; }

  /*------------------------------------------
  Seccion de Postulate ya
  ---------------------------------------------*/
  .postulate h1 {
    font-size: 3.5rem; }

  /*-----------------------------------------------
  Estilo de las secion Quieres ser un Ingeniero
  -------------------------------------------------*/
  .general .ingeniero .row h1 {
    font-size: 2rem; }

  .general .ingeniero .row h4 {
    font-size: 1.5rem; }

  /*-----------------------------------------------------------
  Estilo del tabbed referencia tabbed.scss
  ----------------------------------------------------------------*/
  #tabbed2 input#ta-1:checked ~ .wrapper .taba-1,
  #tabbed2 input#ta-2:checked ~ .wrapper .taba-2,
  #tabbed2 input#ta-3:checked ~ .wrapper .taba-3,
  #tabbed2 input#ta-4:checked ~ .wrapper .taba-4,
  #tabbed2 input#ta-5:checked ~ .wrapper .taba-5,
  #tabbed2 input#ta-6:checked ~ .wrapper .taba-6,
  #tabbed2 input#ta-7:checked ~ .wrapper .taba-7,
  #tabbed2 input#ta-8:checked ~ .wrapper .taba-8 {
    margin: 0 auto; }

  #tabbed3 input#tb-1:checked ~ .wrapper .tabb-1,
  #tabbed3 input#tb-2:checked ~ .wrapper .tabb-2,
  #tabbed3 input#tb-3:checked ~ .wrapper .tabb-3,
  #tabbed3 input#tb-4:checked ~ .wrapper .tabb-4 {
    margin: 0 auto; }

  #tabbed3 label.tabsb {
    padding: 1rem; }

  /*-------------------------------
  Seccion de los Cursos
  ---------------------------------*/
  .cursos .contenedor .centrado {
    top: 46%;
    left: 71%; }

  .cursos .contenedor2 .centrado2 {
    top: 45%;
    left: 29%; } }
@media (min-width: 1200px) {
    /*------------------------------------
Estilo de temas de interes referecia
cuartaseccion.scss
-------------------------------------*/
  .temasinteres .container-fluid .imagen-temasinteres {
    margin-top: -19em; }

    /*---------------------------------------------
Estilo de parallax scene referencia parallaxscene.scss
---------------------------------------------------*/
  .layer1 {
    width: 80%;
    padding: 0;
    margin: 0px calc(10%); }

  .layer2 {
    width: 80%;
    margin: -608px calc(10%); }

  .layer3 {
    height: 60%;
    width: 80%;
    margin: -440px calc(10%); }

  .linterna {
    width: 75px;
    margin: 0px auto; }

  .luz {
    margin: -90px auto;
    height: 320%;
    width: 80%; }

  .sombra {
    width: 60%;
    margin: 535px auto; }

  .letras {
    width: 26%;
    margin: 170px auto; }

  .sombraLetras {
    width: 26%;
    margin: 380px auto; }

  /*Tamano de la Fuente del Navbar*/
  .navbars {
    font-size: 1rem; }

  /*Tamanos de los Logos en pantallas grandes*/
  /*Logo Postgrado Principal*/
  .navbar-brand img {
    width: 250px;
    height: auto; }

  .navbar .dropdown-menu.mega-menu.v-2 a.news-title-2 {
    font-size: 1rem; }

  #logofacultad {
    width: 73px;
    height: auto; }

  #logouc {
    width: 43px;
    height: auto; }

  /*Logos de del Footer*/
  footer .logofuc img {
    width: 70px;
    height: auto; }

  footer .logoffa img {
    width: 122px;
    height: auto; }

  footer .logo img {
    width: 90%;
    height: auto; }

  /*---------------------------------
    Estilos de ultimos Post en vistas de 1200
    -----------------------------------*/
  .ultimos-post p {
    font-size: 1rem;
    color: black;
    text-align: justify; }

  .ultimos-post h4 {
    font-size: 1.5rem;
    color: #1D243B;
    text-align: left; }

  .redessociales {
    height: 18vh; }

  .postulate-1200 {
    height: 18vh; } }

/*# sourceMappingURL=style.css.map */