@charset "UTF-8";
/*---------------------------------------------
DECLARACION DE VARIABLES GLOBALES
--------------------------------------------*/
/*Colores*/
/* Fuentes*/
/*Imagenes*/
/*Estilo para el Parallax */
html,
body,
header,
.jarallax {
  height: 100vh;
  font-size: 15px;
  font-family: Ralewey, sans-serif; }

html,
body,
header,
.intro-2 {
  height: 700px; }

/*Estilo de Seccion de Bienvenido*/
.bienvenidos {
  background: url(../img/HomeBannerPrincipal1024.jpg) no-repeat center top;
  color: #fff;
  background-size: cover;
  background-attachment: fixed !important;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.encabezado {
  color: #fff;
  padding: .5rem 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

.encabezado .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.fondo-menu {
  background: #fff;
  padding: 1rem 0;
  max-height: 77px;
  margin-top: -8px; }

.fondo-movil-menu {
  background: rgba(63, 63, 63, 0.835);
  padding: 1rem 0; }

/*Estilo de Logo encabezado*/
.encabezado .container a {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.encabezado .container a img {
  width: 150px;
  height: auto; }

/*Aplicando el centrado del Logo en el Navbar*/
/*Estilos para el boton: buscar y menu*/
.boton-buscar {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2; }

.boton-buscar,
.boton-menu {
  border: 0;
  font-size: 2rem;
  margin: 0;
  padding: 0 .5rem;
  background: transparent;
  color: #e10613; }

.boton-buscar:focus,
.boton-menu:focus {
  outline: 0; }

/*Estilo bloque buscar*/
/*Bloque Buscar hijo flexible que creca factor reduccion 1 y que ocupe el 100%*/
#bloque-buscar {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%; }

.contenedor-bloque-buscar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3rem;
  margin: 1rem 0; }

/*Selector de Atributtos*/
.contenedor-bloque-buscar input[type="text"] {
  border: 1;
  border-radius: 5px 0 0 5px;
  padding: 1rem;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.contenedor-bloque-buscar input[type="submit"] {
  border: 0;
  border-radius: 0 5px 5px 0;
  background: #e10613;
  color: #fff;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  padding: 10.5px 1rem; }

#menu-principal {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2; }

#menu-principal ul {
  padding: 0;
  list-style: none;
  margin: 1rem 0 0 0; }

/*Estilo para el Menu de navegacion movil*/
#menu-principal ul a {
  display: block;
  padding: .8rem 0;
  text-align: center;
  color: #e10613;
  font-weight: bold;
  text-transform: uppercase;
  border-top: 1px solid #fff;
  text-decoration: none; }

#menu-principal ul a:hover,
#menu-principal ul li.active a {
  color: #fff; }

.bienvenidos .container ul {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none; }

.bienvenidos .container ul li {
  margin-left: .5rem; }

.bienvenidos .container ul li a {
  text-decoration: none;
  color: #e10613; }

/*Estilo de la fecha bajar*/
.flecha-bajar a {
  display: inline-block;
  color: #e10613;
  font-size: 4rem;
  -webkit-animation: flecha-animada 2s ease-in-out infinite;
  animation: flecha-animada 2s ease-in-out infinite; }

/*Animacion Personalizada*/
@-webkit-keyframes flecha-animada {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px); }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes flecha-animada {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px); }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
/*Fin del Estilo de la flecha Bajar*/
/*Fin de Bienvenido*/
/*---------------------------------
SECCION HOME BLOG
------------------------------------*/
.Homeblog {
  font-family: Roboto, sans-serif;
  margin-top: 3em;
  text-align: center; }

.Homeblog h1 {
  font-weight: bold;
  color: #e10613; }

.Homeblog .owl-carousel a {
  text-decoration: none;
  color: #3c3c3b; }

.imgblog {
  width: 150px;
  height: auto;
  border-radius: 0.5em; }

.Homeblog .owl-carousel .owl-nav .owl-prev,
.Homeblog .owl-carousel .owl-nav .owl-next {
  font-size: 3rem;
  margin: 0 .5rem;
  color: #e10613;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

.Homeblog .owl-carousel .owl-nav .owl-prev:hover,
.Homeblog .owl-carousel .owl-nav .owl-next:hover {
  color: rgba(63, 63, 63, 0.835); }

/*Fin de Estilo de la Seccion del Blog*/
/*---------------------------------
SECCION ├ÜLTIMOS Eventos
------------------------------------*/
.ultimos-eventos {
  font-family: Roboto, sans-serif;
  text-align: center; }

.ultimos-eventos .container h1 {
  font-weight: bold;
  color: #e10613; }

.ultimos-eventos .container .owl-carousel a img {
  border-radius: 1em; }

.ultimos-eventos a {
  text-decoration: none; }

.ultimos-eventos a h4 {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: #3c3c3b; }

.ultimos-eventos .container {
  padding-left: 0;
  padding-right: 0; }

.ultimos-eventos .owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: .3rem 0; }

.ultimos-eventos .container .owl-carousel .owl-nav .owl-prev,
.ultimos-eventos .container .owl-carousel .owl-nav .owl-next {
  font-size: 3rem;
  margin: 0 .5rem;
  color: #e10613;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

.ultimos-eventos .container .owl-carousel .owl-nav .owl-prev:hover,
.ultimos-eventos .container .owl-carousel .owl-nav .owl-next:hover {
  color: rgba(63, 63, 63, 0.835); }

/*Fin del Estilo Ultimo Eventos*/
/*Estilo de Galeria*/
.galeria {
  font-family: Roboto, sans-serif;
  text-align: center; }

.galeria h1 {
  font-weight: bold;
  color: #e10613; }

#gallery .pics img {
  border-radius: 0.5em; }

/*Fin de Estilo Galeria*/
/*Estilo de Temas de Interes*/
.temasinteres {
  font-family: Roboto, sans-serif;
  margin-top: 3em;
  text-align: center; }

.temasinteres h2 {
  color: #e10613; }

.temasinteres h1 {
  font-weight: bold;
  color: #e10613; }

/*Fin de Estilo de temas de Interes*/
/*Estilo del Footer*/
footer .container {
  margin-top: 3em;
  text-align: center; }

footer .logo img {
  width: 150px;
  height: auto;
  margin-bottom: 1em; }

footer .container p {
  margin-left: 36px; }

footer .container p i {
  font-size: 28px;
  margin-right: 28px;
  color: #e10613; }

/*Estilo de Franja Copy*/
.franja {
  background-color: #e10613;
  color: #fff; }

/*Estilo Boton ir Arriba*/
.ir-arriba {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 3rem;
  color: #e10613;
  text-decoration: none;
  z-index: 99999;
  line-height: 0;
  display: none;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

.ir-arriba:hover,
.ir-arriba:focus {
  outline: 0;
  text-decoration: none;
  color: #e10613; }

/*Fin de Boton Ir Arriba*/
/*---------------------------------
SECCION DERECHA HOME
------------------------------------*/
/*Estilo del boton buscar */
.general .derecha form input {
  border: 0;
  border-bottom: 1px solid #e10613;
  padding: 1rem auto; }

.general .derecha form i {
  color: #e10613; }

.form-control {
  padding: 0.50rem .5rem;
  font-size: 0.9rem;
  border-radius: 0; }

/*---------------------------------------------
EMPIEZAN LAS MEDIAS QUERIES
--------------------------------------------*/
@media (min-width: 768px) {
  .boton-menu {
    display: none; }

  .logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto; }

  #menu-principal {
    height: auto !important;
    display: block;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    margin-left: auto;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }

  #menu-principal ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 0 0; }

  #menu-principal ul li a {
    padding: .8rem;
    text-transform: capitalize;
    margin: 0 .3rem;
    border-top: 0px;
    border-bottom: 4px solid transparent;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }

  #menu-principal ul li.active a,
  #menu-principal ul li a:hover {
    color: #e10613;
    border-bottom: 4px solid #e10613; }

  .boton-buscar {
    margin-left: 1rem;
    margin-right: 0;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }

  #bloque-buscar {
    margin-top: 1rem;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    position: absolute;
    width: 20rem;
    right: 2rem;
    top: 4rem;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }

  .contenedor-bloque-buscar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 3rem;
    margin: 1rem 0; }

  .contenedor-bloque-buscar input[type="text"] {
    border: 1;
    border-radius: 5px 0 0 5px;
    padding: 1rem;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    height: 2rem; }

  .contenedor-bloque-buscar input[type="submit"] {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    border: 0;
    border-radius: 0 5px 5px 0;
    background: #e10613;
    color: #fff;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    padding: 0 1rem;
    height: 2.2rem; }

  /*Estilos agregados*/
  /*Estilo de Logo encabezado*/
  .encabezado .container a {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }

  /*----------------------------
  Estilo de Seccion de Blog Home
  -----------------------------*/
  .Homeblog .container h3 {
    margin-top: 1rem; }

  .Homeblog .container a img {
    width: 100%;
    height: auto;
    border-radius: 0.5em; } }
@media (min-width: 992px) {
  html {
    font-size: 16px; }

  .bienvenidos {
    background: url(../img/HomeBannerPrincipal1200.jpg) no-repeat center top;
    background-size: cover; } }

/*# sourceMappingURL=style - copia.css.map */