/*----------------------------------------------
Estilo para la Tabbed de la Seccion Emprende En 
Radio y Television
-----------------------------------------------*/


#tabbed {
    width: 100%;
}

#tabbed h2 {
    font-weight: bold;
    font-size: 2rem;
    margin: 1rem 0;
}

#tabbed h3.titulo-emprende {
    font-size: 2rem;
    font-style: italic;
    margin: 1rem 0;
}


#tabbed label.tabs {
    color: #fff;
    font-weight: bold;
}

.t-1 {
    background: $color-8;
}

.t-2 {
    background: $color-9;
}

.t-3 {
    background: #ff6c2e;
}

.t-4 {
    background: #9b2e9c;
}

.t-5 {
    background: #682784;
}

.t-6 {
    background: #ffa400;
}

.t-7 {
    background: #00a986;
}

.t-8 {
    background: #004e92;
}

#tabbed label.tabs {
    display: inline-flex;
    color: #fff;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    padding-left: 2.5em;
    padding-top: 2rem;
    padding-right: 3em;
    width: 182px;
    height: 94px;
    line-height: 1rem;
}

/*-------------------------------------------------
    Estilo para el contenido del Tab 
    --------------------------------------------------*/
#tabbed .wrapper .container {
    margin: 0 auto;
}

#tabbed .wrapper .container .row .col-md-2 {
    margin: 0 1rem;
    text-align: center;
}

#tabbed .wrapper .container .row {
    display: flex;
}

#tabbed .wrapper .container .row iframe {
    width: 100%;
    height: 247px;
}

#tabbed .wrapper .container .row .col-md-5 {
    margin: 1rem;
    text-align: justify
}

#tabbed .wrapper .container .row .col-md-5 h4 {
    font-weight: bold
}

#tabbed .wrapper .container .row .col-md-5 p {
    margin: 1rem 0;
}

#tabbed .wrapper .container .row .col-md-5 .boton-saber {
    border-radius: 50%;
    position: relative;
    right: -16.1rem;
    top: -0rem;
    font-size: 0.6em;
    font-weight: bold;
    background-color: $color-1 !important;
    width: 70px;
    height: 70px;
    padding-top: 2.3rem;
    box-shadow: none;
}




/*------------------------------------------------
Seccion del Tabbed Maestria
------------------------------------------------*/
#tabbed2 {
    width: 100%;
}

#tabbed2 h2 {
    font-weight: bold;
    font-size: 2rem;
    margin: 1rem 0;
    color: $color-12;
}

#tabbed2 h3.titulo-emprende {
    font-size: 2rem;
    font-style: italic;
    margin: 1rem 0;
}


#tabbed2 label.tabss {
    color: $color-2;
    font-weight: bold;
}

.ta-1 {
    background: $color-1;
}

.ta-2 {
    background: $color-12;
}

.ta-3 {
    background: $color-12;
}

.ta-4 {
    background: $color-12;
}

.ta-5 {
    background: $color-12;
}

.ta-6 {
    background: $color-12;
}

.ta-7 {
    background: $color-12;
}

.ta-8 {
    background: $color-12;
}

#tabbed2 label.tabss {
    display: inline-flex;
    color: #fff;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    padding: 1.5rem;
    width: 182px;
    height: 94px;
    line-height: 1.5rem;
}


/*-------------------------------------------------
    Estilo para el contenido del Tab 
    --------------------------------------------------*/
#tabbed2 .wrapper .container {
    margin: 0 auto;
}

#tabbed2 .wrapper .container .row .col-md-2 {
    margin: 0 1rem;
    text-align: center;
}

#tabbed2 .wrapper .container .row {
    display: flex;
}

#tabbed2 .wrapper .container .row iframe {
    width: 100%;
    height: 247px;
}

#tabbed2 .wrapper .container .row .col-md-5 {
    margin: 1rem;
    text-align: justify
}

#tabbed2 .wrapper .container .row .col-md-5 h4 {
    font-weight: bold
}

#tabbed2 .wrapper .container .row .col-md-5 p {
    margin: 1rem 0;
}

#tabbed2 .wrapper .container .row .col-md-5 .boton-saber {
    border-radius: 50%;
    position: relative;
    top: -4rem;
    font-size: 0.9em;
    font-weight: bold;
    background-color: $color-12 !important;
    width: 100px;
    height: 100px;
    padding-top: 2.3rem;
    box-shadow: none;
}

#tabbed2 label img {
    width: 40px;
    height: 47px;
}



/*------------------------------------------------
Seccion del Tabbed Especializaciones
------------------------------------------------*/
#tabbed3 {
    width: 100%;
}

#tabbed3 h2 {
    font-weight: bold;
    font-size: 2rem;
    margin: 1rem 0;
    color: $color-12;
}

#tabbed3 h3.titulo-emprende {
    font-size: 2rem;
    font-style: italic;
    margin: 1rem 0;
}


#tabbed3 label.tabsb {
    color: $color-2;
    font-weight: bold;
}

.tb-1 {
    background: $color-7;
}


#tabbed3 label.tabsb {
    display: inline-flex;
    color: #fff;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    width: 236px;
    height: 94px;
    line-height: 1.5rem;
}


/*-------------------------------------------------
    Estilo para el contenido del Tab 
    --------------------------------------------------*/
#tabbed3 .wrapper .container {
    margin: 0 auto;
}

#tabbed3 .wrapper .container .row .col-md-2 {
    margin: 0 1rem;
    text-align: center;
}

#tabbed3 .wrapper .container .row {
    display: flex;
}

#tabbed3 .wrapper .container .row iframe {
    width: 100%;
    height: 247px;
}

#tabbed3 .wrapper .container .row .col-md-5 {
    margin: 1rem;
    text-align: justify
}

#tabbed3 .wrapper .container .row .col-md-5 h4 {
    font-weight: bold
}

#tabbed3 .wrapper .container .row .col-md-5 p {
    margin: 1rem 0;
}

#tabbed3 .wrapper .container .row .col-md-5 .boton-saber {
    border-radius: 50%;
    position: relative;
    top: -4rem;
    font-size: 0.9em;
    font-weight: bold;
    background-color: $color-12 !important;
    width: 100px;
    height: 100px;
    padding-top: 2.3rem;
    box-shadow: none;
}

#tabbed3 label img {
    width: 40px;
    height: 47px;
}


@media (max-width:320px) {

    #tabbed3 label.tabsb {
        display: inline-block;
        font-size: 0.6rem;
        padding: 1rem;
        width: 100%;
        height: auto;
    }

    #tabbed3 label.tabsb {
        padding: 0 1rem;
    }

    #tabbed2 label.tabss {
        display: inline-block;
        font-size: 0.6rem;
        padding: 1rem;
        width: 100%;
        height: auto;
    }

    #tabbed2 label.tabss {
        padding: 0 1rem;
    }

    #tabbed label.tabs {
        display: inline-block;
        font-size: 0.6rem;
        padding: 1rem;
        width: 100%;
        height: auto;
    }

    #tabbed label.tabs {
        padding: 0 1rem;
    }
}