/*---------------------------------
SECCION ├ÜLTIMOS Eventos
------------------------------------*/

.ultimos-eventos {
    font-family: $fuente2;
    text-align: center;
  }
  
  .ultimos-eventos  h1 {
    font-weight: bold;
    color: $color1;
  }
  
  .ultimos-eventos  .owl-carousel a img {
    border-radius: 1em;
  }
  
  .ultimos-eventos a {
    text-decoration: none;
  }
  
  .ultimos-eventos a h4 {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    color: $color2;
  }
  
  .ultimos-eventos  {
    padding-left: 0;
    padding-right: 0;
  }
  
  .ultimos-eventos .owl-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: .3rem 0;
  }
  
  .ultimos-eventos  .owl-carousel .owl-nav .owl-prev,
  .ultimos-eventos  .owl-carousel .owl-nav .owl-next {
    font-size: 3rem;
    margin: 0 .5rem;
    color: $color1;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  
  .ultimos-eventos  .owl-carousel .owl-nav .owl-prev:hover,
  .ultimos-eventos  .owl-carousel .owl-nav .owl-next:hover {
    color: $color4;
  }
  
  /*Fin del Estilo Ultimo Eventos*/