*,
*:before,
*:after {
    box-sizing: border-box;
}
html {
    font-size: 15px;
}
body {
    font-family: 'Fuente1', sans-serif;
    color: $texto;
}
h1,
.btn-primary,
.btn-primary:focus,
.btn-retro,
.btn-retroy:focus,
.caja1 h1,
.caja1 h3 .caja2 h2,
.caja2 h3,
.caja3 h2,
.caja3 h3,
.page-header h2,
.titulo-pagina,
.page-title,
.pagina-galeria-imagenes h2,
.caja-color h2,
.caja-color h3,
.top_area,
.bloque-buscar,
.mega_css3 ul.level0 a.mega span.menu-title,
.suscripciones .col-sm-8 h2,
.suscripciones .col-sm-4 h3,
.breadcrumb,
.cck_module_breadcrumbs,
h2.titulo_inicial,
.bloque-servicios-principales h3.title,
.detalles-servicios h3 a,
.paquetes-turisticos.blog .items-row .detalles-servicios h3 a,
.bloque-galeria-imagenes h3.title,
.mapaweb h2,
.bloque-nosotros h3,
.pagina-clientes ul li .sombra-logo h3,
.pagina-descargas ul li h3,
#pagina-proyectos .cck-fl h3,
.detalles-proyecto h3,
.detalles-proyecto strong,
.searchintro,
.result-title,
.tag-category h2 {
    font-family: "Fuente1";
}
a {
    color: $principal;
}
a:hover {
    color: darken( $principal, 10%);
    text-decoration: underline;
}

/*Listas limpia*/

ul.lista-limpia,
ul.lista-limpia li {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*Efectos css*/

.efecto1 {
    transition: all 0.5s ease;
}
*:hover>.efecto1 {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}
.btn {
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 0;
    font-size: .85rem;
    padding: .8rem 1.3rem;
    transition: all .15s ease-in-out;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    outline: 0px;
    line-height: 1.3;
    z-index: 3;
    overflow: hidden;
    border: 1px solid darken( $principal, 20%) !important;
    box-shadow: 0 1px rgba(255, 255, 255, 0.21) inset;
}
.btn:active,
.btn:active:focus {
    transform: scale(.95);
    outline: 0px;
}
.btn-primary,
.btn-primary:focus {
    background: $principal;
}
.btn-primary:hover {
    background: darken( $principal, 10%);
    border-color: rgba(0, 0, 0, 0.19);
}
.btn-primary:active,
.btn-primary:active:focus {
    background-color: lighten($principal, 10%);
    border-color: $principal;
}

/*Nombre:Efecto Boton 1
Descripcion. Efecto que lograr mover una flecha haciena 
la derecha cuando se coloca el curso sobre el boton
.btn-primary:after,
.btn-primary:focus:after {
    transition: all 0.3s ease;
    font-family: "FontAwesome";
    content: "\f18e";
    position: relative;
    left: 5px
}
.btn-primary:hover:after,
.btn-primary:focus:hover:after {
    left: 8px;
}
*/


/*Nombre:Efecto Boton 2
Descripcion. Efecto que lograr mover una flecha hacia 
la derecha cuando se coloca el curso sobre el boton y se abre una caja*/

.btn-primary:before,
.btn-primary:focus:before {
    content: '';
    transform: skew(45deg, 0);
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 50%;
    width: 0;
    height: 100%;
    background-color: lighten($principal, 10%);
    z-index: -1;
    transition: all 0.3s ease;
}
.btn-primary:after,
.btn-primary:focus:after {
    transition: all 0.3s ease;
    font-family: "FontAwesome";
    content: "\f18e";
    position: relative;
    left: 5px
}
.btn-primary:hover:before,
.btn-primary:focus:hover:before {
    visibility: visible;
    width: 140%;
    left: -20%;
    overflow: hidden;
}
.btn-primary:hover:after,
.btn-primary:focus:hover:after {
    left: 8px;
}

/*Estilos para Cajas:
Bloques que suelen in en los lateriales de las paginas internas*/


/*Estilos generales aplicado a todas las cajas*/

.caja1,
.caja2,
.caja3 {
    background: $principal;
    color: #fff;
    padding: 1em 1rem 2rem;
    margin: 0 0 1em 0;
    border-radius: 6px;
    border-top: 1px solid $principal;
    box-shadow: inset 0 -6px 0 rgba(0, 0, 0, 0.32), 0 1px lighten( $principal, 6%) inset;
}
.caja1 h3,
.caja2 h3,
.caja3 h3 {
    margin: 0 0 .5em 0;
    font-size: 1.2rem;
    text-transform: uppercase;
}
.caja1 h4,
.caja2 h4,
.caja3 h4 {
    margin: 0 0 .5em 0;
    font-size: 1.1rem;
    text-transform: uppercase;
}
.caja1 a,
.caja2 a,
.caja3 a {
    color: #fff;
}
.caja1 .titulo-modulo,
.caja2 .titulo-modulo,
.caja3 .titulo-modulo,
{
    text-transform: uppercase;
    margin-bottom: 1rem;
    padding: .5rem 0 1rem 0;
    letter-spacing: 0px;
    font-size: 1.42rem;
    line-height: 1.3;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 -1px rgba(247, 247, 247, 0.19) inset;
    /* white-space: nowrap;*/
}

/*Estilos caja 1*/

.caja1 h3,
.caja1 h4 {
    color: #fff !important;
}

/*Estilos caja 2*/

.caja2 {
    background: $secundario;
}
.caja2 h3,
.caja2 h4 {
    color: #fff !important;
}

/*Estilos caja 3*/

.caja3 {
    background: #EFEFEF;
    color: #5F5C5C;
    border: 1px solid #D8D6D6;
    box-shadow: inset 0 -6px 0 rgba(0, 0, 0, 0.11);
}
.caja3 h3,
.caja3 h4 {
    color: #5F5C5C !important;
}
.caja3 .informacion-de-contacto li .fa {
    font-size: 1.1em;
    margin: 0 .1em 0 0;
    color: $principal;
    border: 2px solid $principal;
}
.caja3 a {
    color: $principal;
}

/*Estilos items de menus en cajas*/

.caja1 .menu a {
    position: relative;
    display: block;
    padding: .8rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.18);
    color: #e8e7e7;
    transition: all 0.2s ease-out;
    box-shadow: 0 -1px rgba(255, 255, 255, 0.17) inset;
    text-decoration: none;
}
.caja1 .menu li:first-child a {
    padding-top: 0;
}
.caja1 .menu a:before {
    font-family: "FontAwesome";
    content: "\f105";
    display: block;
    padding: 0;
    position: relative;
    display: inline-block;
    left: 0;
    width: 14px;
    height: 14px;
    margin-left: 0;
    transition: all 0.2s ease-out;
}
.caja1 .menu li.active a,
.caja1 .menu li:hover a {
    color: #5fffb4;
}
.caja1 .menu li.active a:before,
.caja1 .menu li:hover a:before {
    transform: rotateY(180deg);
    transform-origin: left center;
    left: 2px;
}

/*Titulo de artículos y páginas*/

.page-header h2,
.titulo-pagina,
.page-title,
.pagina-galeria-imagenes h2 {
    text-transform: uppercase;
    margin: .32em 0 .6em;
    padding: 0 0 10px 0;
    border-bottom: 5px solid $colorP;
    font-size: 3em;
}
.caja-color {
    background: $colorP;
    color: #fff;
    padding: 1em;
    /*box-shadow: 0 0 20px rgb(13, 37, 7) inset;*/
    margin: 1em 0;
    border-radius: 4px;
}
.caja-color h2,
.caja-color h3 {
    margin: .5em 0;
    text-transform: uppercase;
    color: #fff;
    font-size: 2.5em;
    text-align: center;
}
.caja-color a {
    color: #fff;
}
.caja-color ul,
.caja-color ul.nav>li {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    display: block;
}

/*Corrección al tamaño de fuentes en lista*/

.caja-color .small {
    font-size: 100%;
}
.caja-color ul li a {
    transition: all .5s ease;
    width: 100%;
    display: block;
    color: #fff;
    position: relative;
    margin: 2px 0;
    font-size: 1em;
    font-family: inherit;
    line-height: 1.4;
    border-right: 4px solid rgba(255, 255, 255, 0);
    padding: 10px 0;
}
.caja-color ul li a:hover,
.caja-color ul li.current>a,
.caja-color ul li>a.active {
    border-right: 4px solid white;
    background: none;
}
.caja-color ul li a:before {
    font: normal normal normal 1.5em/1 FontAwesome;
    float: left;
    color: rgba(255, 255, 255, 0.59);
    text-shadow: none;
    content: "\f055" !important;
    margin: 0 10px 0 0;
    vertical-align: middle;
    transition: all .5s;
}
.caja-color ul li.current a:before,
.caja-color ul li a:hover:before,
.caja-color ul li a.active:before {
    color: #fff !important;
}

/* Scroll Vertical: Para arriba*/

.ir-arriba {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-size: 3rem;
    z-index: 99999;
    color: #131313;
    text-decoration: none;
    z-index: 99999;
    display: none;
    transition: all .5s ease;
}
.ir-arriba:hover,
.ir-arriba:focus {
    text-decoration: none;
    color: #fff;
}
.ir-arriba .fa {
    display: block;
}

/*------------------------------
PAGINA BUSCAR
--------------------------------*/

.pagina-buscador .contenido-principal #seblod_form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.pagina-buscador .contenido-principal #seblod_form input[type="text"] {
    flex: 3 0 0px;
    border-radius: 5px 0 0 5px;
    width: 0;
}
.pagina-buscador .contenido-principal #seblod_form button {
    flex: 1 1 0px;
    border-radius: 0 5px 5px 0;
}
.pagina-buscador .contenido-principal #seblod_form .total {
    flex: 1 1 100%;
    text-align: center;
    margin: 1rem 0;
    font-size: 2rem;
}
.resultados-busqueda {
    flex: 1 1 100%;
    font-size: 1.1rem;
    /* font-weight: bold; */
}

/*Mensajes de Formulario*/

.alert {
    margin: 1.8em 0;
}
.alert-message {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}
.input-group {
    flex-wrap: wrap;
}
.formError.inline {
    flex: 1 1 100%;
}
.caja_codigo_de_seguridad .input-group-addon {
    padding: 6px 40px
}
.caja_codigo_de_seguridad .variation_value {
    position: absolute;
    z-index: 999;
    left: 20px;
    top: 5px;
}

/*Botones sociales en el pie de articulos*/

.contenedor-botones-sociales {
    display: flex;
    position: fixed;
    bottom: 0;
    z-index: 99;
    left: 0;
    right: 0;
    justify-content: center;
}
.contenedor-botones-sociales button {
    background-color: #aaa;
    border: none;
    color: white;
    font-weight: 300;
    outline: none;
    padding: .5rem 1em;
    position: relative;
    overflow: hidden;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    transition: all .2s ease;
    transform: translate(0, 0);
    margin: 0;
    font-size: 0px;
    flex: 1;
}

/*icono a todos los botones*/

.contenedor-botones-sociales button:before {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 1.3rem;
    margin: .3rem;
    transition: all .3s ease;
    flex: 1 1 0px;
}
.contenedor-botones-sociales button:hover:before {
    transform: rotate(360deg);
    transform-style: preserve-3d;
}

/*Boton Facebook*/

.contenedor-botones-sociales button[data-sharer="facebook"] {
    background-color: #3b5998;
    box-shadow: 0 5px 0 #224389, 1px 4px 2px rgba(0, 0, 0, 0.2);
}
.contenedor-botones-sociales button[data-sharer="facebook"]:active {
    box-shadow: 0 2px 0 #224389, 1px 4px 2px rgba(2, 2, 2, 0.32);
    transform: translate(0, 3px);
}
.contenedor-botones-sociales button[data-sharer="facebook"]:before {
    content: "\f09a";
}

/*Boton Twitter*/

.contenedor-botones-sociales button[data-sharer="twitter"] {
    background-color: #00aced;
    box-shadow: 0 5px 0 #0084b4, 1px 4px 2px rgba(2, 2, 2, 0.32);
}
.contenedor-botones-sociales button[data-sharer="twitter"]:active {
    box-shadow: 0 2px 0 #0084b4, 1px 4px 2px rgba(2, 2, 2, 0.32);
    transform: translate(0, 3px);
}
.contenedor-botones-sociales button[data-sharer="twitter"]:before {
    content: "\f099";
}

/*Boton Google*/

.contenedor-botones-sociales button[data-sharer="googleplus"] {
    background-color: #DD4C39;
    box-shadow: 0 5px 0 #BB2D1A, 1px 4px 2px rgba(0, 0, 0, 0.2);
}
.contenedor-botones-sociales button[data-sharer="googleplus"]:active {
    box-shadow: 0 2px 0 #BB2D1A, 1px 4px 2px rgba(0, 0, 0, 0.2);
    transform: translate(0, 3px);
}
.contenedor-botones-sociales button[data-sharer="googleplus"]:before {
    content: "\f2b3";
}

/*Bóton Pinterest*/

.contenedor-botones-sociales button[data-sharer="pinterest"] {
    background-color: #CB2029;
    box-shadow: 0 5px 0 #A30E15, 1px 4px 2px rgba(0, 0, 0, 0.2);
}
.contenedor-botones-sociales button[data-sharer="pinterest"]:active {
    box-shadow: 0 2px 0 #A30E15, 1px 4px 2px rgba(0, 0, 0, 0.2);
    transform: translate(0, 3px);
}
.contenedor-botones-sociales button[data-sharer="pinterest"]:before {
    content: "\f0d2";
}

/*Botón Linkedin*/

.contenedor-botones-sociales button[data-sharer="linkedin"] {
    background-color: #007AB5;
    box-shadow: 0 5px 0 #005E8C, 1px 4px 2px rgba(0, 0, 0, 0.2);
}
.contenedor-botones-sociales button[data-sharer="linkedin"]:active {
    box-shadow: 0 2px 0 #005E8C, 1px 4px 2px rgba(0, 0, 0, 0.2);
    transform: translate(0, 3px);
}
.contenedor-botones-sociales button[data-sharer="linkedin"]:before {
    content: "\f0e1";
}

/*Botón whatsapp*/

.contenedor-botones-sociales button[data-sharer="whatsapp"] {
    background-color: #4DC247;
    box-shadow: 0 5px 0 #30AF29, 1px 4px 2px rgba(0, 0, 0, 0.2);
}
.contenedor-botones-sociales button[data-sharer="whatsapp"]:active {
    box-shadow: 0 2px 0 #30AF29, 1px 4px 2px rgba(0, 0, 0, 0.2);
    transform: translate(0, 3px);
}
.contenedor-botones-sociales button[data-sharer="whatsapp"]:before {
    content: "\f232";
}
