.ultimos-post{
    img{
        width: 100%;
    }
    p{
        font-size: $tamfuente;
        color:$color5;
         text-align: justify;
    }
    h4{
        color:$color-12;
    text-align: left;
    }
    .card{
        border-radius: 1rem;
    }


}