/*---------------------------------------------
DECLARACION DE VARIABLES GLOBALES
--------------------------------------------*/
/*--------------------------------------------------------
Carga de la Fuentes Mediante import de css
----------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Raleway|Roboto");
/* -----------------------------------------------------
para cargar las rutas de fontAwesome todavia en Prueba!!!
---------------------------------------------------------*/
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot");
  src: url("../fonts/fontawesome-webfont.eot") format("embedded-opentype");
  src: url("../fonts/fontawesome-webfont.woff2") format("woff2");
  src: url("../fonts/fontawesome-webfont.woff") format("woff");
  src: url("../fonts/fontawesome-webfont.ttf") format("truetype");
  src: url("../fonts/fontawesome-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
/*----------------------------
Colores para la pagina de Universidad
-----------------------------*/
/*-------------------------------------
Colores Generales para la plantilla
--------------------------------------*/
/* -------------------------------
Fuentes
--------------------------*/
/*--------------------------------------------------
Imagenes de la pagina principal
----------------------------------------------------*/
/*-----------------------------------------------------------
Imagenes para la parte de programa de estudios
------------------------------------------------------------*/
/*----------------------------------------------------------
Imagenes para el Parallax de Tipo scene
------------------------------------------------------------*/
/*--------------------------------------------------------------
Funcion para asignar parallax  recibe como parametro la imagen
y le aplica las propiedades corespondientes al parallax
-----------------------------------------------------------------*/
/*-----------------------------------------------------------------
Manipulacion general de los tamanos de los logo en resposive y
original
------------------------------------------------------------------*/
/*Logo Postgrado para resoluciones mayores a 1024*/
/*logo de Postgrado para resoluciones menores a 992*/
/*----------------------------------------------------*/
/*Logo facultad para resoluciones mayores a 1024*/
/*logo de Facultad para resoluciones menores a 992*/
/*Logo de facultad del footer*/
/*-------------------------------------------------------*/
/*Logo UC para resoluciones mayores a 1024*/
/*logo de UC para resoluciones menores a 992*/
/*logo de la UC del footer*/
/*--------------------------------------------------------*/
/*----------------------------------
Funcion para imagenes
-------------------------------------*/
/*Box -sizing*/
/*Variables para los tamanos de los Medias Queries*/
/*Media Queries*/

/*# sourceMappingURL=variables.css.map */