/*---------------------------------------------
DECLARACION DE VARIABLES GLOBALES
--------------------------------------------*/

/*--------------------------------------------------------
Carga de la Fuentes Mediante import de css
----------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');
/* -----------------------------------------------------
para cargar las rutas de fontAwesome todavia en Prueba!!!
---------------------------------------------------------*/
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot');
    src: url('../fonts/fontawesome-webfont.eot') format('embedded-opentype');
    src: url('../fonts/fontawesome-webfont.woff2') format('woff2');
    src: url('../fonts/fontawesome-webfont.woff') format('woff');
    src: url('../fonts/fontawesome-webfont.ttf') format('truetype');
    src: url('../fonts/fontawesome-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }


/*----------------------------
Colores para la pagina de Universidad
-----------------------------*/
$color-1 : #309FBE;
$color-2 : #0071BB;
$color-3 : #0D7190;
$color-4 : #27324B;
$color-5 : #B82718;
$color-6 : #E7CA0C;
$color-7 : #D79300;
$color-8 : #666666;
$color-9 : #44bc00;
$color-10 : #00a986;
$color-11 : #0071BB;
$color-12 : #1D243B;
$colorfuente: black;
 /*-------------------------------------
 Colores Generales para la plantilla
 --------------------------------------*/
$color1: #666666; //Color Primario
$color2: #F2F2F2; //Color Secundario
$color3: #fff; // Color Alternativo
$color4:$color1; //Fondo menu
$color5:black;
$color-nav:#fff;
$color-nav-a:rgb(8, 41, 77);
$color-nav-letras:#575757 ;
$sombra-oscuro: #05324b; //sombra de botones
/* -------------------------------
Fuentes
--------------------------*/

$fuente1: Ralewey, //Fuente Principal
sans-serif;
$fuente2: Roboto,
sans-serif;

$tamfuente:13px;
$tamfuentelg:1rem;
$tamfuentelgh4:1.5rem;
$tamfuenteh1:2rem;
/*--------------------------------------------------
Imagenes de la pagina principal
----------------------------------------------------*/
$imagen-movil-320: url(../img/pagina/postgrado/HomeBannerPrincipal320.jpg);
$imagen-movil-480: url(../img/pagina/postgrado/HomeBannerPrincipal480.jpg);
$imagen-table-800: url(../img/pagina/postgrado/HomeBannerPrincipal800.jpg);
$imagen-monitor-1024: url(../img/pagina/postgrado/HomeBannerPrincipal1024.jpg);
$imagen-monitor-1200: url(../img/pagina/postgrado/HomeBannerPrincipal1200.jpg);
$imagen-postulate-1200: url(../img/pagina/postgrado/CintilloPostulate.jpg);
$imagen-postulate-800: url(../img/pagina/postgrado/CintilloPostulate720.jpg);
$imagen-postulate-480: url(../img/pagina/postgrado/CintilloPostulate480.jpg);
/*-----------------------------------------------------------
Imagenes para la parte de programa de estudios
------------------------------------------------------------*/
$imagen-programa-estudio: url(../img/pagina/postgrado/BannerProgramasdeEstudios1200.png);
$imagen-programa-estudio-320: url();
/*----------------------------------------------------------
Imagenes para el Parallax de Tipo scene
------------------------------------------------------------*/
$imagen-parallaxscene-1200:url(../img/pagina/postgrado/HomeBanner2Principal1200.jpg);
$imagen-parallaxscene-1024:url();
$imagen-parallaxscene-800:url(../img/pagina/postgrado/HomeBanner2Principal720.jpg);
$imagen-parallaxscene-480: url(../img/pagina/postgrado/HomeBanner2Principal480.jpg);
$imagen-parallaxscene-320:url();
/*--------------------------------------------------------------
Funcion para asignar parallax  recibe como parametro la imagen
y le aplica las propiedades corespondientes al parallax
-----------------------------------------------------------------*/
@mixin parallax ($imagen,$alto) {
    background: $imagen;
    background-repeat: no-repeat;
    background-size: cover; //toda la imagen se muestre lo mejor posible
    // background-attachment: fixed !important; //para que sea parallax
    background-position: center center;
     height: $alto; // altura al 100% del dispositivo
}

/*-----------------------------------------------------------------
Manipulacion general de los tamanos de los logo en resposive y
original
------------------------------------------------------------------*/
/*Logo Postgrado para resoluciones mayores a 1024*/
$anchoP:250px;
$altoP:auto;
/*logo de Postgrado para resoluciones menores a 992*/
$anchoP992:179px;
$altoP992:auto;
/*----------------------------------------------------*/
/*Logo facultad para resoluciones mayores a 1024*/
$anchoF:73px;
$altoF:auto;
$anchoFF:122px;
$altoFF:auto;
/*logo de Facultad para resoluciones menores a 992*/
$anchoF992:45px;
$altoF992:auto;
/*Logo de facultad del footer*/
$anchoFF992:71px;
$altoFF992:auto;
/*-------------------------------------------------------*/
/*Logo UC para resoluciones mayores a 1024*/
$anchoU:43px;
$altoU:auto;
$anchoUF:70px;
$altoUF:auto;
/*logo de UC para resoluciones menores a 992*/
$anchoU992:26px;
$altoU992:auto;
/*logo de la UC del footer*/
$anchoUF992:40px;
$altoUF992:auto;
/*--------------------------------------------------------*/
@mixin dimension($ancho,$alto) {
  width: $ancho;
  height: $alto;
}

/*----------------------------------
Funcion para imagenes
-------------------------------------*/
@mixin background-imagen($imagen){
  background-image: $imagen;
  background-repeat: no-repeat;
  background-position: center center;
}
/*Box -sizing*/
@mixin box-sizing($box-model){
  box-sizing: $box-model;
}


/*Variables para los tamanos de los Medias Queries*/

$telefono: 320px;
$tablet:768px;
$desktop: 1024px;
$extra: 2000px;


/*Media Queries*/

@mixin telefono{
  @media only screen and(min-width : #{$telefono}){
      @content;
  }
}
@mixin tablet{
  @media only screen and(min-width : #{$tablet}){
      @content;
  }
}
@mixin desktop{
  @media only screen and(min-width : #{$desktop}){
      @content;
  }
}
@mixin extra{
  @media only screen and(min-width : #{$extra}){
      @content;
  }
}
