@media (min-width: 992px) {

  /*-----------------------------
Estilo para banner principal
-------------------------------*/
  .bienvenidos .row .col-lg-6 {
    max-width: 46%;
  }

  .bienvenidos .row .col-lg-5 {
    max-width: 35.666667%;
  }

  /*Estilo del nav en 1024*/
  .navbars .col-lg-4 {
    max-width: 24.333333%;
  }

  /*--------------------------------*/
  .boton-buscar {
    margin-left: 1rem;
    margin-right: 0;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 5;
    -ms-flex-order: 5;
    order: 5;
  }

  #bloque-buscar {
    margin-top: 1rem;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
    position: absolute;
    width: 20rem;
    right: 1rem;
    top: 2.5rem;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .contenedor-bloque-buscar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 3rem;
    margin: 1rem 0;
  }

  .contenedor-bloque-buscar input[type="text"] {
    border: 1;
    border-radius: 5px 0 0 5px;
    padding: 1rem;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    height: 2rem; //adicional la altura 
  }

  .contenedor-bloque-buscar input[type="submit"] {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    border: 0;
    border-radius: 0 5px 5px 0;
    background: $color1;
    color: $color3;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    padding: 0 1rem;
    height: 2.2rem; //adicional altura
  }

  html {
    font-size: 16px;
  }
 /*Seccion de Bienvenidos*/
  .bienvenidos {
    //background: $imagen-Principal;
    background-size: cover;
  }

  .bienvenidos .row h1{
    font-size: $tamfuentelgh4;
  }
  .bienvenidos .row h3{
    font-size: $tamfuentelgh4;
  }

   /*-----------------------------------
    Estilo de Noticias
    -------------------------------------*/
    .noticias h6{
      font-size: 1em;
  }

  /*------------------------------------------
  Seccion de Postulate ya
  ---------------------------------------------*/
  .postulate h1 {
    font-size: 3.5rem;
  }

  /*-----------------------------------------------
  Estilo de las secion Quieres ser un Ingeniero
  -------------------------------------------------*/
  .general .ingeniero .row h1{
    font-size: $tamfuenteh1;
  }
  .general .ingeniero .row h4{
    font-size: $tamfuentelgh4;
  }
  

  /*-----------------------------------------------------------
  Estilo del tabbed referencia tabbed.scss
  ----------------------------------------------------------------*/
  #tabbed2 input#ta-1:checked~.wrapper .taba-1,
  #tabbed2 input#ta-2:checked~.wrapper .taba-2,
  #tabbed2 input#ta-3:checked~.wrapper .taba-3,
  #tabbed2 input#ta-4:checked~.wrapper .taba-4,
  #tabbed2 input#ta-5:checked~.wrapper .taba-5,
  #tabbed2 input#ta-6:checked~.wrapper .taba-6,
  #tabbed2 input#ta-7:checked~.wrapper .taba-7,
  #tabbed2 input#ta-8:checked~.wrapper .taba-8 {
    margin: 0 auto;
  }

  #tabbed3 input#tb-1:checked~.wrapper .tabb-1,
  #tabbed3 input#tb-2:checked~.wrapper .tabb-2,
  #tabbed3 input#tb-3:checked~.wrapper .tabb-3,
  #tabbed3 input#tb-4:checked~.wrapper .tabb-4 {
    margin: 0 auto;
  }
  #tabbed3 label.tabsb {
    padding: 1rem;
  }
  /*-------------------------------
  Seccion de los Cursos
  ---------------------------------*/
  .cursos .contenedor .centrado {
    top: 46%;
    left: 71%;
  }

  .cursos .contenedor2 .centrado2{
    top:45%;
    left:29%;
}



}