@media (min-width: 768px) {

  /*RSS Navbar*/
  .bienvenidos .container-fluid>ul {
    order: 3;
    list-style: none;
    display: flex;
    align-items: center;
    background: red;
  }

  .bienvenidos .container-fluid>ul li a {
    text-decoration: none;
    color: $color-nav-letras;
  }

  .encabezado .container-fluid {
    align-items: baseline;
  }

  .encabezado .container-fluid a {
    justify-content: flex-start;
  }

  /*Fin de RSS Navbar*/
  .boton-menu {
    display: none;
  }

  .logo {
    flex: 1 1 auto;
  }

  #menu-principal {
    height: auto !important;
    display: block;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    margin-left: auto;
    -webkit-box-ordinal-group: 2;
  }

  #menu-principal ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 0 0;
  }

  #menu-principal ul li a {
    padding: .8rem;
    text-transform: capitalize;
    margin: 0 .3rem;
    border-top: 0px;
    border-bottom: 4px solid transparent;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  #menu-principal ul li.active a,
  #menu-principal ul li a:hover {
    color: $color-nav-letras;
    border-bottom: 4px solid $color3;
  }

  #btn-busqueda-aside {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }

  /*Estilo de Logo encabezado*/
  .encabezado .container a {
    justify-content: flex-start;
  }

  #RRS-card {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
  }

  #RRS-card li {
    margin-left: .5rem;
  }

  #RRS-card li a i {
    color: $color1
  }

  .tarjeta-1 {
    box-shadow: -2px 13px 24px #777575;
  }

  .tarjeta-1 .card-body {
    text-align: center;
    padding: 1rem;
  }

  .tarjeta-1 .imagencard1 {
    margin-top: 1rem;
  }

  .tarjeta-1 .imagencard1 img {
    width: 100%;
    height: auto;
  }

  .tarjeta-2 {
    text-align: center;
    box-shadow: -2px 13px 24px #777575;
  }

  .tarjeta a {
    margin-bottom: 1rem;
  }

  .tarjeta2 a img {
    width: 100%;
    height: auto;
  }

  #cool_tag_cloud-4 {
    text-align: center;
    margin-bottom: 1rem;
    box-shadow: -2px 13px 24px #777575;
  }

  .arial {
    margin: 1rem;
  }

  /*--------------------------
  Estilo del Conoceme
  ----------------------------*/
  .conoceme .col-xs-6 {
    margin-top: 5rem;
  }

  .conoceme h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 1rem;
  }

  .conoceme p {
    font-size: 2rem;
    text-align: left;
  }

  .conoceme .pr {
    font-size: 1rem;
  }

  /*----------------------------
    Estilo de la Seccion de Blog
    -----------------------------*/
  .Homeblog a img {
    width: 100%;
    height: auto;
    border-radius: 0.5em;
  }

  /*Estilo del botones del blog destacado*/
  .btn {
    padding: 8px 25px;
    font-size: 20px;
  }

  /*------------------------
    Estilo de la seccion de Servicio 
    o Blog para este caso
    --------------------------*/
  .servicios article {
    margin: 1rem 0;
    flex-direction: column;
    align-items: center;
    text-align: center
  }

  .servicios img {
    flex: 27%;
    overflow: hidden;
    margin: 1rem;
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    transition: all 1s ease
  }

  .servicios article:hover img {
    transform: rotateY(360deg);
    transform-style: preserve-3d
  }

  .servicios h3 a::after {
    content: ""
  }

  .servicios h3 {
    margin: 0 0 .5rem 0;
    font-size: 1.5rem;
    flex: 0 1 auto;
    width: 100%
  }

  .servicios h3 a {
    display: block;
    width: 100%
  }

  .servicios p {
    width: 100%;
    flex: 56%;
  }

  .servicios .btn-secondary {
    margin-top: auto
  }

  /*Estilo botones redes sociales en articulos*/
  .contenedor-botones-sociales {
    display: flex;
    position: static;
    justify-content: flex-start;
  }

  .contenedor-botones-sociales button {
    border-radius: 6px;
    font-size: .85em;
    margin: 0 .5rem 0 0;
    flex: 0 1 auto;
  }

  /*Icono a todos los botones*/
  .contenedor-botones-sociales button:before {
    margin: 0 .3rem 0 0;
    flex: 0 1 auto;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  /*------------------------------------------
  Estilo de Tabbed 1 referencia tabbed.scss
  --------------------------------------------*/
  
  #tabbed2 .wrapper .container .row .col-md-5 .boton-saber {
    right: -16.1rem;
    padding-top: 3.3rem;
    font-size: 0.9em;
    width: 100px;
    height: 100px;
    padding-top: 2.5rem;
  }

  #tabbed .wrapper .container .row .col-md-5 .boton-saber {
    right: -16.1rem;
    padding-top: 3.3rem;
    font-size: 0.9em;
    width: 100px;
    height: 100px;
    padding-top: 2.5rem;
  }

  /*-------------------------------------------------------------
  Estilo de Programa de Estudios referencia programaestudios.scss
  -----------------------------------------------------------------*/
  #pderecha .facultad {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-start;
  }

  #ppostgrado {
    order: 1;
  }

  /*------------------------------------------------------------------
  Estilo del la vista Talleres referencia programastudios.scss
  -------------------------------------------------------------------*/
  #pizquierda iframe {
    height: 50vh;
  }

  .general hr {
    position: relative;
    margin-top: 133rem;
  }

  #tabbed2 input#ta-1:checked~.wrapper .taba-1,
  #tabbed2 input#ta-2:checked~.wrapper .taba-2,
  #tabbed2 input#ta-3:checked~.wrapper .taba-3,
  #tabbed2 input#ta-4:checked~.wrapper .taba-4,
  #tabbed2 input#ta-5:checked~.wrapper .taba-5,
  #tabbed2 input#ta-6:checked~.wrapper .taba-6,
  #tabbed2 input#ta-7:checked~.wrapper .taba-7,
  #tabbed2 input#ta-8:checked~.wrapper .taba-8 {
    margin: 0 4rem;
  }

  #tabbed3 input#tb-1:checked~.wrapper .tabb-1,
  #tabbed3 input#tb-2:checked~.wrapper .tabb-2,
  #tabbed3 input#tb-3:checked~.wrapper .tabb-3,
  #tabbed3 input#tb-4:checked~.wrapper .tabb-4 {
    margin: 0 4rem;
  }

  #tabbed3 label.tabsb {
  padding: 2rem;
}

  /*Estilo de Ultimos Post*/
  .ultimos-post>h4.text-center {
    font-size: 2.5rem;
    color: #1D243B;
  }

  .team-section>h2 {
    font-size: 2.5rem;
    color: #1D243B;
  }

  .redessociales{
    height:19vh;
  }
 

  .cursos .contenedor .centrado{
    top:43%;
    left:67%;
    font-size: 2rem;
  }
  .cursos .contenedor2 .centrado2{
    top:42%;
    left:34%;
    font-size: 2rem;
  }


}