@media (min-width: 1200px) {

    /*------------------------------------
Estilo de temas de interes referecia
cuartaseccion.scss
-------------------------------------*/
    .temasinteres .container-fluid .imagen-temasinteres {
        margin-top: -19em;
    }

    /*---------------------------------------------
Estilo de parallax scene referencia parallaxscene.scss
---------------------------------------------------*/
    .layer1 {
        width: 80%;
        padding: 0;
        margin: 0px calc(10%);
    }

    .layer2 {
        width: 80%;
        margin: -608px calc(10%);
    }

    .layer3 {
        height: 60%;
        width: 80%;
        margin: -440px calc(10%);
    }

    .linterna {
        width: 75px;
        margin: 0px auto;
    }

    .luz {
        margin: -90px auto;
        height: 320%;
        width: 80%;
    }

    .sombra {
        width: 60%;
        margin: 535px auto;
    }

    .letras {
        width: 26%;
        margin: 170px auto;
    }

    .sombraLetras {
        width: 26%;
        margin: 380px auto;
    }

    /*Tamano de la Fuente del Navbar*/
    .navbars {
        font-size: $tamfuentelg;
    }

    /*Tamanos de los Logos en pantallas grandes*/
    /*Logo Postgrado Principal*/
    .navbar-brand img {
        @include dimension($anchoP, $altoP);
    }

    .navbar .dropdown-menu.mega-menu.v-2 a.news-title-2 {
        font-size: $tamfuentelg;
    }

    #logofacultad {
        @include dimension($anchoF, $altoF);
    }

    #logouc {
        @include dimension($anchoU, $altoU);
    }

    /*Logos de del Footer*/
    footer .logofuc img {
        @include dimension($anchoUF, $altoUF);
    }

    footer .logoffa img {
        @include dimension($anchoFF, $altoFF);
    }

    footer .logo img {
        width: 90%;
        height: auto;
    }

    /*---------------------------------
      Estilos de ultimos Post en vistas de 1200
      -----------------------------------*/

    .ultimos-post p {
        font-size: $tamfuentelg;
        color: $color5;
        text-align: justify;
    }

    .ultimos-post h4 {
        font-size: $tamfuentelgh4;
        color: $color-12;
        text-align: left;
    }

    .redessociales{
        height:18vh;
      }
      .postulate-1200{
        height: 18vh;
      }
}